{template 'content', 'header'}
    <div class="activity w100">
        <div class="activity_con w1100">
            <div class="actv_img">
                <div class="actv_banner fl">
                    
                </div>
                <div class="actv_txt fr">
                    
                </div>
            </div>
            <div class="actv_tit">
                <a href="">精彩活动 / </a>
                <a href="">全部</a>
            </div>
            <div class="actv_con clearfix">
                <div class="actv_conL fl">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="actv_conR fr">
                    <div class="actv_conRa actv_zixun">
                        <div class="tit">
                            <h3>推荐资讯</h3>
                        </div>
                        <ul class="clearfix">
                            <li><a href="">机构称5G手机数量四后超年4G手后超</a></li>
                            <li><a href="">半导体产业快被日本整“瘫痪”后超</a> </li>
                            <li><a href="">智能手表OLED屏出货量2019年后超</a></li>
                            <li><a href="">滴滴成立充电桩合资公司布局后超</a></li>
                            <li><a href="">苹果中国发布报告已在中国提后超</a></li>
                            <li><a href="">三星论文揭秘Exynos 9820 NP后超</a></li>
                        </ul>
                    </div>
                    <div class="actv_conRa actv_teizi">
                        <div class="tit">
                            <h3>热门帖子</h3>
                        </div>
                        <ul class="clearfix">
                            <li><a href="">机构称5G手机数量四后超年4G手后超</a></li>
                            <li><a href="">半导体产业快被日本整“瘫痪”后超</a> </li>
                            <li><a href="">智能手表OLED屏出货量2019年后超</a></li>
                            <li><a href="">滴滴成立充电桩合资公司布局后超</a></li>
                            <li><a href="">苹果中国发布报告已在中国提后超</a></li>
                            <li><a href="">三星论文揭秘Exynos 9820 NP后超</a></li>
                        </ul>
                    </div>
                    <div class="actv_conRa actv_xiazai">
                        <div class="tit">
                            <h3>资料下载</h3>
                        </div>
                        <ul class="clearfix">
                            <li><a href="">机构称5G手机数量四后超年4G手后超</a></li>
                            <li><a href="">半导体产业快被日本整“瘫痪”后超</a> </li>
                            <li><a href="">智能手表OLED屏出货量2019年后超</a></li>
                            <li><a href="">滴滴成立充电桩合资公司布局后超</a></li>
                            <li><a href="">苹果中国发布报告已在中国提后超</a></li>
                            <li><a href="">三星论文揭秘Exynos 9820 NP后超</a></li>
                        </ul>
                    </div>
                    <div class="actv_conRa actv_kecheng">
                        <div class="tit">
                            <h3>推荐课程</h3>
                        </div>
                        <ul class="clearfix">
                            <li><a href="">机构称5G手机数量四后超年4G手后超</a></li>
                            <li><a href="">半导体产业快被日本整“瘫痪”后超</a> </li>
                            <li><a href="">智能手表OLED屏出货量2019年后超</a></li>
                            <li><a href="">滴滴成立充电桩合资公司布局后超</a></li>
                            <li><a href="">苹果中国发布报告已在中国提后超</a></li>
                            <li><a href="">三星论文揭秘Exynos 9820 NP后超</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{template 'content', 'footer'}
