{template 'content', 'header_course'}

<div class="w play">
    <div class="w1100 play_l" style="position: relative;">
        <div id="lunbobox" class="lunbobox">
            <!-- <div id="toleft">&lt;</div> -->
            <div class="lunbo1">
                <div class="lunbo">
                    <div class="lb aa">
                        <div class="" style="height: 425px; width: 65%;">
                            <script language="javascript" src="{APP_PATH}caches/poster_js/58.js"></script>
                        </div>
                    </div>
                    <div class="aa" style="">
                        <div class="" style="height: 425px; width: 65%;">
                            <script language="javascript" src="{APP_PATH}caches/poster_js/59.js"></script>
                        </div>
                    </div>
                    <div class="aa" style="">
                        <div class="" style="height: 425px; width: 65%;">
                            <script language="javascript" src="{APP_PATH}caches/poster_js/60.js"></script>
                        </div>
                    </div>
                    <!-- <div class="aa" style="background: #63c5ed;">
                        <div class="w" style="height: 425px;">
                            <a>
                                <script language="javascript" src="{APP_PATH}caches/poster_js/61.js"></script>
                            </a>
                        </div>
                    </div> -->
                </div>

                <div class="play_r">
                    <div class="tabs" id="tab">
                        <ol class="tab">
                            <li class="tab-item active fl">最新课程</li>
                            <li class="tab-item fr">精品课程</li>
                        </ol>
                        <div class="products">
                            <div class="main selected">
                                <span class="a list">
                                    <ol>
                                        {php $courseWhere = 'typeid='.$typeidList['course'];}
                                        {pc:content action="lists" catid="$courseid" order="id DESC" num="5" cache="300"}
                                        {loop $data $value}
                                        <li class="clearfix">
                                            <a href="{replaceUrl4course($value['url'])}" target="_blank">{$value['title']}</a>
                                        </li>
                                        {/loop}
                                        {/pc}
                                    </ol>
                                </span>
                            </div>
                            <div class="main">
                                <span class="a list">
                                    <ol>
                                        {pc:content action="lists" catid="$courseid" order="user_num DESC" num="5" cache="300" moreinfo="1"}
                                        {php $freeData = [];}
                                        {loop $data $key $value}
                                        {if $value['present_price'] == 0}
                                        {php $freeData[] = $value; unset($data[$key]);}
                                        {/if}
                                        {/loop}
                                        {php $data = array_values($data);}
                                        {loop $freeData $v}
                                        {php $data[] = $v;}
                                        {/loop}
                                        {loop $data $value}
                                        <li class="clearfix">
                                            <a href="{replaceUrl4course($value['url'])}">{$value['title']}</a>
                                        </li>
                                        {/loop}
                                        {/pc}
                                    </ol>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div id="toright">&gt;</div> -->
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <!-- <li></li> -->
            </ul>
            <span></span>
        </div>
    </div>
</div>

<div class="w live">
    <div class="w1100">
        <div class="xth">
            <h3>专题课程分类</h3>
            <ul class="clearfix">
                {pc:special action="lists" siteid="$siteid" elite="0" listorder="3" num="5"}
                {php //echo "<pre>";print_r($data);}
                {loop $data $value}
                <li class="xth_list">
                    <a href="{replaceUrl4course($value['url'])}" target="_blank">
                        <img src="{$value['thumb']}" alt="">
                        <div>
                            <p class="p1">{$value['title']}</p>
                            <p class="p2">系列课程</p>
                        </div>
                    </a>
                </li>
                {/loop}
                {/pc}
            </ul>
        </div>
        <!-- <div class="live_con">
            <h3>课堂直播</h3>
            <ul class="clearfix">
                <li>
                    <a href=""> 
                        <div class="fl hd_img">
                            <img src="../../../../statics/images/drivers/gzh.png" alt="">
                        </div>
                        <div class="fr lists">
                            <div class="lists1">
                                <span>今天 20:00</span>&nbsp;&nbsp;|&nbsp;
                                <span class="lists1_sp">开启提醒</span>
                            </div>
                            <p class="lists2">1节课带你手把手玩转2.5D插画设计</p>
                            <p class="lists3">木松子旭 网易特邀设计师</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div> -->
    </div>
</div>

<div style="position: relative; background: #fff;">
    <section>
        <div class="w" style="position: relative;">
            <div class="course w1100">
                <div class="w1100">
                    <div class="clearfix">
                        <div class="middle_right">
                            <div class="course_content mb10 clearfix">
                                <!-- 热门课程 -->
                                <div class="conts">
                                    <h3 class="titles"><i>↓</i><span>热门课程</span>
                                        <a href="{$eduurl}/course/1" target="_blank" class="more">更多 ></a>
                                    </h3>
                                    <div class="newest_curriculum mb10 clearfix">
                                        <div class="nc_r" id="dll">
                                            {pc:content action="lists" catid="$courseid" order="user_num DESC" num="8" cache="300" moreinfo="1"}
                                            {php $freeData = [];}
                                            {loop $data $key $value}
                                            {if $value['present_price'] == 0}
                                            {php $freeData[] = $value; unset($data[$key]);}
                                            {/if}
                                            {/loop}
                                            {php $data = array_values($data);}
                                            {loop $freeData $v}
                                            {php $data[] = $v;}
                                            {/loop}
                                            {loop $data $value}
                                            <dl>
                                             {php //echo $value['url'];}
                                                <!-- {replaceUrl4course($value['url'])} -->
                                                <dt>
                                                    <a href="{replaceUrl4course($value['url'])}" target="_blank"><img src="{$value['thumb']}" alt=""></a>
                                                </dt>
                                                <div>
                                                    <p class="txt1">
                                                        <a href="{replaceUrl4course($value['url'])}" target="_blank">{$value['title']}</a></p>
                                                    <div class="zy">
                                                        <span>{$value['description']}</span>
                                                    </div>
                                                    <div class="userNum clearfix">
                                                        <span class="fl">
                                                            <i></i>
                                                            {$value['user_num']} <span>人已购买</span> 
                                                        </span>
                                                        <span class="fr" style="margin-right: 10px; font-size: 14px;">
                                                            <small class="{if $value['present_price'] == 0 }small{/if}" style="{if $value['price'] == 0 }color: #666;{/if} {if $value['price'] == $value['present_price']}color: #666;{/if}">￥{$value['present_price']}</small>
                                                            <del style="{if $value['price'] == 0 }display:none;{/if} {if $value['price'] == $value['present_price']}display: none;{/if}" class="{if $value['present_price'] == 0}del{/if}">￥{$value['price']}</del>
                                                            {if $value['present_price'] == 0}<span style="font-weight: bold;">免费</span>{/if}
                                                        </span>
                                                    </div>
                                                </div>
                                            </dl>
                                            {/loop}
                                            {/pc}
                                        </div>
                                    </div>
                                </div>
                                <script language="javascript" src="{APP_PATH}caches/poster_js/55.js"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w" style="position: relative; background: #fcfafa; padding: 0 0 15px; ">
            <div class="course w1100">
                <div class="w1100">
                    <div class="clearfix">
                        <div class="middle_right">
                            <div class="course_content mb10 clearfix">
                                <!-- 最新课程 -->
                                <div class="conts">
                                    <h3 class="titles"><i>↓</i><span>最新课程</span> 
                                        <a href="{$eduurl}/course/1" target="_blank" class="more">更多 ></a>
                                    </h3>
                                    <div class="newest_curriculum mb10 clearfix">
                                        <!-- </div> -->
                                        <div class="nc_r">
                                            {php $courseWhere = 'typeid='.$typeidList['course'];}
                                            {pc:content action="lists" catid="$courseid" order="id DESC" num="8" cache="300"}
                                            {loop $data $value}
                                            <dl>
                                                <dt>
                                                    <a href="{replaceUrl4course($value['url'])}" target="_blank"><img src="{$value['thumb']}" alt=""></a>
                                                </dt>
                                                <div>
                                                    <p class="txt1">
                                                        <a href="{replaceUrl4course($value['url'])}" target="_blank">{$value['title']}</a></p>
                                                    <div class="zy">
                                                        <span>{$value['description']}</span>
                                                    </div>
                                                    <div class="userNum clearfix">
                                                        <span class="fl">
                                                            <i></i>
                                                            {$value['user_num']} <span>人已购买</span> 
                                                        </span>
                                                        <span class="fr" style="margin-right: 10px; font-size: 14px;">
                                                            <small class="{if $value['present_price'] == 0 }small{/if}" style="{if $value['price'] == 0 }color: #666;{/if} {if $value['price'] == $value['present_price']}color: #666;{/if}">￥{$value['present_price']}</small>
                                                            <del style="{if $value['price'] == 0 }display:none;{/if} {if $value['price'] == $value['present_price']}display: none;{/if}" class="{if $value['present_price'] == 0}del{/if}">￥{$value['price']}</del>
                                                            {if $value['present_price'] == 0}<span style="font-weight: bold;">免费</span>{/if}
                                                        </span>
                                                    </div>
                                                </div>
                                            </dl>
                                            {/loop}
                                            {/pc}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w" style="position: relative;">
            <div class="course w1100">
                <div class="w1100">
                    <div class="clearfix">
                        <div class="middle_right">
                            <div class="course_content mb10 clearfix">
                                <!-- 收费课程 -->
                                <div class="newest_curriculum mb10 clearfix" style="margin-top: 10px;">
                                    <h3 class="titles"><i>↓</i><span>收费课程</span> 
                                        <a href="{$eduurl}/course/1" target="_blank" class="more">更多 ></a>
                                    </h3>
                                    <div class="nc_r">
                                        {php $courseWhere = "present_price>0";}
                                            {pc:content action="lists" catid="$courseid" where="$courseWhere" order="present_price DESC" num="12" cache="300" moreinfo="1"}
                                            {loop $data $value}
                                            <dl class="{if $value['present_price'] == 0 }dl_last{/if}">
                                                <dt>
                                                    <a href="{replaceUrl4course($value['url'])}" target="_blank"><img src="{$value['thumb']}" alt=""></a>
                                                </dt>
                                                <div>
                                                    <p class="txt1">
                                                        <a href="{replaceUrl4course($value['url'])}" target="_blank">{$value['title']}</a></p>
                                                    <div class="zy">
                                                        <span>{$value['description']}</span>
                                                    </div>
                                                    <div class="userNum clearfix">
                                                        <span class="fl">
                                                            <i></i>
                                                            {$value['user_num']} <span>人已购买</span> 
                                                        </span>
                                                        <span class="fr" style="margin-right: 10px; font-size: 14px;">
                                                            <small class="{if $value['present_price'] == 0 }small{/if}" style="{if $value['price'] == 0 }color: #666;{/if} {if $value['price'] == $value['present_price']}color: #666;{/if}">￥{$value['present_price']}</small>
                                                            <del style="{if $value['price'] == 0 }display:none;{/if} {if $value['price'] == $value['present_price']}display: none;{/if}" class="{if $value['present_price'] == 0}del{/if}">￥{$value['price']}</del>
                                                            {if $value['present_price'] == 0}<span style="font-weight: bold;">免费</span>{/if}
                                                        </span>
                                                    </div>
                                                </div>
                                            </dl>
                                            {/loop}
                                            {/pc}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w" style="position: relative; background: #fcfafa; padding: 0 0 15px; ">
            <div class="course w1100">
                <div class="w1100">
                    <div class="clearfix">
                        <div class="middle_right">
                            <div class="course_content mb10 clearfix">
                                <!-- 免费课程 -->
                                <div class="newest_curriculum mb10 clearfix" style="margin-top: 10px;">
                                    <h3 class="titles"><i>↓</i><span>免费公开课</span> 
                                        <a href="{$eduurl}/course/1" target="_blank" class="more">更多 ></a>
                                    </h3>
                                    <div class="nc_r">
                                        {php $courseWhere = "present_price=0";}
                                        {pc:content action="lists" catid="$courseid" where="$courseWhere" order="user_num DESC" num="8" cache="300"}
                                        {loop $data $value}
                                        <dl>
                                            <dt>
                                                <a href="{replaceUrl4course($value['url'])}" target="_blank"><img src="{$value['thumb']}" alt=""></a>
                                            </dt>
                                            <p><a href="{replaceUrl4course($value['url'])}" target="_blank">{$value['title']}</a></p>
                                        </dl>
                                        {/loop}
                                        {/pc}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{show_ad(2, 51)}
{show_ad(2, 53)}
{show_ad(2, 54)}

{template 'content', 'footer_course'}
<div class="r_fixed" id="r_fixed">
    <div class="r_fixed_hd">
        课程推荐
        <a href="javascript:;" class="fr" id="close1">×</a>
        <script>
            $(function () {
                $('#close1').click(function(){
                    $('#r_fixed').css("display","none");
                })
            })

        </script>
    </div>
    <div class="r_fixed_con" id="r_fixed_con">
        {pc:content action="position" posid="$posidList['course_right']" order="listorder DESC" num="1" cache="300"}
        {loop $data $value}
            <div class="r_fixed_con_tit">
                <a href="{$value['url']}">{$value['title']}</a>
            </div>
            <div class="r_fixed_con_img">
                <a href="{$value['url']}">
                    <img class="fl" style="clear: both;" src="{thumb($value['thumb'], 60, 60)}" hspace="8" alt="">
                </a>
                <span>{$value['description']}</span>
            </div>
            <div class="ck">
                <a href="{$value['url']}">查看>></a>
            </div>
        {/loop}
        {/pc}
    </div>
</div>

<script>
    ///轮播
    $(function() {
        //$("#toright").hide();
        //$("#toleft").hide();
        $('#toright').hover(function() {
            $("#toleft").hide()
        }, function() {
            $("#toleft").show()
        })
        $('#toleft').hover(function() {
            $("#toright").hide()
        }, function() {
            $("#toright").show()
        })
    })
    
    var t;
    var index = 0;
    /////自动播放
    t = setInterval(play, 3000)
    
    function play() {
        index++;
        if (index >= 3) {
            index = 0;
        }
        // console.log(index)
        $("#lunbobox ul li").eq(index).css({
            "background": "#999",
            "border": "1px solid #ffffff"
        }).siblings().css({
            "background": "#cccccc",
            "border": ""
        })
    
        $(".lunbo .aa ").eq(index).fadeIn(1000).siblings().fadeOut(1000);
    };
    
    ///点击鼠标 图片切换
    $("#lunbobox ul li").click(function() {
    
        //添加 移除样式
        //$(this).addClass("lito").siblings().removeClass("lito");  //给当前鼠标移动到的li增加样式 且其余兄弟元素移除样式   可以在样式中   用hover 来对li 实现
        $(this).css({
            "background": "#999",
            "border": "1px solid #ffffff"
        }).siblings().css({
            "background": "#cccccc"
        })
        var index = $(this).index(); //获取索引     图片索引与按钮的索引是一一对应的
        // console.log(index);
    
        $(".lunbo .aa ").eq(index).fadeIn(1000).siblings().fadeOut(1000); //   siblings  找到 兄弟节点(不包括自己）
    });
    
    /////////////上一张、下一张切换
    $("#toleft").click(function() {
        index--;
        if (index < 0){ //判断index<0的情况为：开始点击#toright  index=0时      再点击 #toleft 为负数了 会出错
            index = 3;
        }
        console.log(index);
        $("#lunbobox ul li").eq(index).css({
            "background": "#999",
            "border": "1px solid #ffffff"
        }).siblings().css({
            "background": "#cccccc"
        })
    
        $(".lunbo .aa ").eq(index).fadeIn(1000).siblings().fadeOut(1000); //   siblings  找到 兄弟节点(不包括自己）必须要写
    }); // $("#imgbox a ")获取到的是一个数组集合 。所以可以用index来控制切换
    
    $("#toright").click(function() {
        index++;
        if (index >= 3) {
            index = 0;
        }
        console.log(index);
        $(this).css({
            "opacity": "0.5"
        })
        $("#lunbobox ul li").eq(index).css({
            "background": "#999",
            "border": "1px solid #ffffff"
        }).siblings().css({
            "background": "#cccccc"
        })
        $(".lunbo .aa ").eq(index).fadeIn(1000).siblings().fadeOut(1000); //   siblings  找到 兄弟节点(不包括自己）
    });
    $("#toleft,#toright").hover(function() {
            $(this).css({
                "color": "black"
            })
        },
        function() {
            $(this).css({
                "opacity": "0.3",
                "color": ""
            })
        })
    ///

    ///////鼠标移进  移出
    $("#lunbobox ul li,.lunbo .aa img,#toright,#toleft ").hover(
    ////////鼠标移进
    function() {
        $('#toright,#toleft').show()
        clearInterval(t);
        clearInterval(t)

    },
    ///////鼠标移开
    function() {
        $('#toright,#toleft').hide();
        //alert('aaa')
        t = setInterval(play, 3000)

        function play() {
            index++;
            if (index > 4) {
                index = 0
            }
            $("#lunbobox ul li").eq(index).css({
                "background": "#999",
                "border": "1px solid #ffffff"
            }).siblings().css({
                "background": "#cccccc"
            })
            $(".lunbo .aa ").eq(index).fadeIn(1000).siblings().fadeOut(1000);
        }
    })
</script>
<script>
        $(function () {
            $("#tab .tab .tab-item").click(function () {
                $(this).addClass("active").siblings().removeClass("active");
                $(".products .main").eq($(this).index()).show().siblings().hide();
            })
        })

        
</script>

    

      {show_ad(2, 62)}


</body>
</html>