{php $posid = 18;}

{php $posidList = ['newActivity' => 18 ,'focus' => 18];}

{php $typeidList = ['tec' => 54, 'news' => 55, 'activity' => 56, 'course' => 57, 'other' => 58];}

{php $indexBidList = ['user' => 88, 'blog' => [109, 110], 'thread' => [68, 69]];}

{php $catid2bidList = [98 => [68, 69], 99 => [68, 69]];}

{php $bbsurl = 'http://bbs.eetop.wang';}

{php $blogurl = $bbsurl . '/home.php?mod=space&do=blog';}

{php $bbsJsUrl = $bbsurl. '/api.php?mod=js&bid=';}

{php $newsid = getNewsModelItemId($siteid);}

{php $courseid = getCourseModelItemId($siteid);}

{php $mySite = siteinfo($siteid);}