{php $posid = 18;}

{php $posidList = ['newActivity' => 18 ,'focus' => 18];}

{php $typeidList = ['tech' => 54, 'news' => 55, 'activity' => 56, 'course' => 57, 'other' => 58];}

{php $indexBidList = ['user' => 88, 'blog' => [109, 110], 'thread' => [68, 69], 'hot' => 43, 'job' => 3];}

<!--{ 频道页调用论坛的bid信息 98为频道id，即catid}-->
{php $catid2bidList = [98 => [68, 69], 100 => [68, 69]];}

{php $bbsurl = str_replace('www', 'bbs', siteurl($siteid));}

{php $blogurl = $bbsurl . 'blog.php';}

{php $bbsJsUrl = $bbsurl. '/api.php?mod=js&bid=';}

{php $newsid = getNewsModelItemId($siteid);}

{php $courseid = getCourseModelItemId($siteid);}

{php $mySite = siteinfo($siteid);}