<div class="footer_course w100">
    <div class="ft_c w100">
        <div class="w1100">
            <div class="ft_t clearfix">
                <div class="fl ft_c_l">
                    <ul class="clearfix">
                        <li><a href="/">网站首页</a></li>
                        <li><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=171">关于我们</a></li>
                        <li><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=172">联系我们</a></li>
                        <li><a href="">招聘讲师</a></li>
                        <li><a href="{$bbsurl}">论坛</a></li>
                        <li><a href="{$blogurl}">博客</a></li>
                    </ul>
                    <div class="ft_b">
                        
                        <p><span>@2003-2019 EETOP</span>&nbsp;&nbsp;&nbsp;&nbsp;京ICP备:10050787号 京公网安备：11010502037710</p>
                    </div>
                </div>
                <div class="fr ewm">
                    <a href="">
                        <img src="../../../statics/images/drivers/cxdjt.jpg" alt="">
                        <span>创芯大讲堂</span>
                    </a>
                    <a href="">
                        <img src="../../../statics/images/drivers/cxlzh.jpg" alt="">
                        <span>创新老字号</span>
                    </a>
                    <a href="">
                        <img src="../../../statics/images/drivers/eetop_gzh.jpg" alt="">
                        <span>eetop公众号</span>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>
</body>
</html>






