<div class="footer_course w100">
    <div class="ft_c w100">
        <div class="w1100">
            <div class="ft_t clearfix">
                <div class="fl ft_c_l">
                    <ul>
                        <li><a href="">关于我们</a></li>
                        <li><a href="">帮助中心</a></li>
                        <li><a href="">联系我们</a></li>
                        <li><a href="">意见反馈</a></li>
                        <li><a href="">招贤纳士</a></li>
                    </ul>
                </div>
                <div class="fl ft_c_z">
                    <ul>
                        <li>
                            <i class="icon i1"></i>
                        </li>
                        <li>
                            <i class="icon i2"></i>
                        </li>
                        <li>
                            <i class="icon i3"></i>
                        </li>
                    </ul>
                </div>
                <div class="fr ft_c_r">
                    <ul>
                        <li><span>联系我们</span></li>
                        <li>
                            <span>010-52023772</span>
                            <span>（9:30 - 18:00）</span>
                        </li>
                        <li>
                            <span><a href="">在线QQ客服</a></span>
                            <span>（9:30 - 18:00）</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ft_b">
                <p>Powered by EduSoho v8.3.16 ©2014-2019 课程存档</p>
                <p>课程内容版权均归 北京易特创芯科技有限公司 所有 </p>
            </div>
        </div>
    </div>
</div>