<div class="w1100 footers mt15 clearfix">
    <div class="ft_nav bgc_fff" style="margin-bottom: 15px;"> 
        <div class="w1100 ftnav">
            <div class="links">
                <a href="">ET创芯网(EETOP)-电子设计论坛、博客、超人气的电子工程师资料分享平台 </a>&nbsp;&nbsp;|
                <a href="">论坛</a>&nbsp;&nbsp;|
                <a href="">快捷面板</a>&nbsp;&nbsp;|
                <a href="">站点地图</a>&nbsp;&nbsp;|
                <a href="">空间列表</a>&nbsp;&nbsp;|
                <a href="">站点存档</a>&nbsp;&nbsp;|
                <a href="">关于我们</a>&nbsp;&nbsp;|
                <a href="">联系我们</a>
            </div>
            <div style="color: red;">@2003-2019 EETOP </div>
            <div class="copy" style="margin-bottom: 10px;">
                <p class="copyTxt"><a href="">京ICP备:10050787号 京公网安备：110105001212</a></p>
            </div>
        </div>
    </div>
</div>
{show_ad(1, 39)}