<style>
    .cm_one {
        height: 50px;
        border-bottom: 2px solid #2975c4;
    }

    .cm_one .pag {
        margin-top: 10px;
    }

    .cm_one h1 {
        margin-left: 8px;
        font-size: 28px;
        margin-top: -3px;
    }

    .cm_one .home {
        margin-top: 14px;
        margin-left: 14px;
    }

    .cm_one .home a {
        display: block;
        width: 103px;
        height: 20px;
        background-image: url(https://img.ithome.com/images/v2.3/home_normal.png);
        font-size: 12px;
        line-height: 20px;
    }

    .cm_one .home a span {
        display: block;
        padding: 1px 0 0 29px;
    }

    .cm_one .search {
        margin-top: 5px;
    }

    .cm_one .search input {
        padding: 5px 8px;
        width: 210px;
        height: 24px;
        outline: 0;
        border: 0;
        border: 1px solid #2975c4;
        border-right: none;
        color: #666;
        vertical-align: middle;
        font-size: 16px;
        line-height: 24px;
    }

    .cm_one .search button {
        overflow: hidden;
        width: 37px;
        height: 36px;
        outline: 0;
        border: 0;
        border: 1px solid #2975c4;
        border-left: none;
        background: #2975c4 url(https://img.ithome.com/images/v2.3/sc_btn.png) left center no-repeat;
        text-indent: -1000px;
        cursor: pointer;
        background-size: 111px 29px;
    }

    .cm_tow {
        clear: both;
        padding-top: 15px;
        padding-bottom: 15px;
        height: auto;
        border-bottom: 2px solid #2975c4;
        font-size: 14px;
        line-height: 40px;
    }

    .cm_tow ul li {
        float: left;
        padding: 0 20px;
        color: #fff;
        margin: 3px 5px;
    }

    /*.cm_tow ul .current {*/
        /*background-color: #2975c4;*/
    /*}*/

    .cm_tow ul .current a {
        color: #666;
    }

   /* .cm_tow ul li:hover {
        background-color: #2975c4;
    }*/

    .cm_tow ul li:hover a {
        color: #2975c4;
    }

    .cm_tow ul li.more {
        background-color: #0483b0;
    }

    .cm_tow ul li.more a {
        color: white;
    }

    .cm_tow ul .br {
        border-right: 1px solid #d6d3d4;
    }

    .cm_three {
        clear: both;
        margin-top: 20px;
        height: 130px;
    }

    .cm_three ul li {
        float: left;
        margin-right: 13px;
    }

    .cm_three ul li.more {
        margin-right: 0;
    }

    .cm_three ul li img {
        width: 257px;
        height: 130px;
        border: 1px solid #d6d3d4;
    }
</style>
</head>
<body>
<div class="w100">
    <div class="w1100">
        <div style="padding: 0 1pc; margin-top: 5px;">
            <!-- <div class="cm_tow">
                <ul class="clearfix">
                    {pc:content action="category" siteid="$siteid" catid="$top_parentid" order="listorder ASC" num="20"
                   cache="0" return="data"}
                    {loop $data $value}
                    <li class="{if $catid == $value['catid']}current{/if}">
                    <a href="{APP_PATH}index.php?m=content&c=index&a=category&catid={$value['catid']}" title="{$value['catname']}">{$value['catname']}</a>
                    </li>
                    {/loop}
                    {/pc}
                </ul>
            </div> -->
            <!-- <div class="cm_three"> -->
                <!-- <ul>
                    {pc:content action="lists" catid="$newsid" order="updatetime DESC" num="4" cache="0"}
                    {loop $data $value}
                    <li>
                        <a href=""><img src="{$value['thumb']}" alt=""></a>
                    </li>
                    {/loop}
                    {/pc}
                </ul> -->
            <!-- </div> -->
        </div>

    </div>
</div>