<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}-{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<meta name=”renderer” content=”webkit|ie-comp|ie-stand”>
<link rel="stylesheet" type="text/css" href="{CSS_PATH}drivers/global.css"/>
<link rel="stylesheet" type="text/css" href="{CSS_PATH}drivers/index.css"/>
<link rel="stylesheet" type="text/css" href="{CSS_PATH}drivers/header.css" />

<link rel="stylesheet" type="text/css" href="{CSS_PATH}drivers/details.css"/>
<link rel="stylesheet" type="text/css" href="{CSS_PATH}drivers/details2.css"/>
<link rel="stylesheet" type="text/css" href="{CSS_PATH}drivers/details3.css"/>
<link rel="stylesheet" type="text/css" href="{CSS_PATH}drivers/right.css"/>
<link rel="stylesheet" type="text/css" href="{CSS_PATH}drivers/footer.css"/>
<link rel="stylesheet" type="text/css" href="{CSS_PATH}drivers/nav.css"/>

<script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
<script type="text/javascript" src="{JS_PATH}jquery.sgallery.js"></script>
</head>
<body>
    {template "content", "config"}
    <div class="Header w100">
        <div class="hdTop clearfix">
            <div class="hdTopCon w1100 clearfix">
                <div class="fl hdTxt">
                    <div class="hdBottom">
                        <div class="hdBottomCon clearfix">
                            <div class="logo clearfix fl">
                                <a title="{$mySite['name']}" href="{siteurl($siteid)}/">
                                    <img src="{IMG_PATH}drivers/logo.gif" width="175" height="70" alt="" title="{$mySite['name']}" >
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {show_ad(1, 20)}
                <div class="search fl">
                    <div id="wrap">
                        <div id="tit">
                            <span class="select more" style="margin-right:0; border-right: 0;">文章</span>
                            <span>DataSheet</span>
                        </div>
                        <a href="http://bbs.eetop.wang/search.php?mod=blog" class="link"><span>日志</span></a>
                        <a href="http://bbs.eetop.wang/search.php?mod=forum" class="link"><span>帖子</span></a>
                        <ul id="con" class="clearfix">
                            <li class="show">
                                <div class="hds">
                                    <form action="{APP_PATH}index.php" target="_blank" class="form" method="get" name="a">
                                        <input type="hidden" name="m" value="search" />
                                        <input type="hidden" name="c" value="index" />
                                        <input type="hidden" name="a" value="init" />
                                        <input type="hidden" name="typeid" id="typeid" value="1" />
                                        <input type="hidden" name="siteid" id="siteid" value="{$siteid}" />
                                        <input type="text" name="q" id="q" class="ss" />
                                        <input type="submit" name="sub" value="搜索" class="btn1 c_f"/>
                                    </form>
                                </div>
                            </li>
                            <li>
                                <div class="hds">
                                    <form action="http://ic.eetop.cn/index/default_list" target="_blank" class="form2" method="get" name="b">
                                        <input name="title" class="ss" />
                                        <input type="submit" name="sub" value="搜索" class="btn1 c_f"/>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="hd w100" id="hd">
            <div class="w1100">
                <div class="nav">
                    <div class="name fl">
                        <a href="{siteurl($siteid)}" class="nav_item1 icon_home sel c_f name" title="电子，微电子，芯片">首页</a>
                    </div>
                    <ul class=" nav_list fl">
                        {template "content", "menu"}
                    </ul>
                    <div class="fr landr">
                        <div class="tb_item">
                            <!-- <script type="text/javascript">document.write('<div id="iframe" style="position: relative; z-index: 1;"><iframe src="{APP_PATH}index.php?m=member&c=index&a=mini&from=other&forward=' + encodeURIComponent(location.href) + '&siteid={get_siteid()}" allowTransparency="true" width="205" height="150" frameborder="0" scrolling="no"></iframe></div>')</script> -->
                            <div>
                                {if $_username}
                                    <ul class="clearfix">
                                        <li class="login lr">
                                            <a href="{APP_PATH}index.php?m=member&siteid={$siteid}" target="_blank" class="{if $from == 'index'}c_hhh{else}c_fff{/if} nav_item" style="line-height: 40px;">{getNickName()}</a> &nbsp;&nbsp;
                                            <ul class="xlk clearfix" id="xlk">
                                                <li class="h50">
                                                    <a href=" {APP_PATH}index.php?m=member&siteid={$siteid}" class="h50" target="_blank">个人资料</a>
                                                </li>
                                                <li class="h50">
                                                    <a href=" {APP_PATH}index.php?m=member&c=index&a=account_manage_avatar&t=1" class="h50" target="_blank">修改头像</a>
                                                </li>
                                                <li class="h50">
                                                    <a href="{APP_PATH}index.php?m=member&c=content&a=published" class="h50" target="_blank">我的投稿</a>
                                                </li>
                                                <li class="h50">
                                                    <a href="{APP_PATH}index.php?m=pay&c=deposit&a=pay" class="h50" target="_blank">我的资产</a>
                                                </li>
                                                <li class="h50">
                                                    <a href="{APP_PATH}index.php?m=member&c=index&a=logout&forward={urlencode($_GET['forward'])}&siteid={$siteid}" target="_top">退出</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                {else}
                                    <ul class="clearfix">
                                        <li class="login lr">
                                            <a href="{APP_PATH}index.php?m=member&c=index&a=login&siteid={$siteid}" target="_blank" class="{if $from == 'index'}c_hhh{else}c_fff{/if}" style="line-height: 40px;">登录</a>
                                        </li>
                                        <li class="register lr">
                                            <a href="{$bbsurl}/member.php?mod=register" target="_blank" class="{if $from == 'index'}c_hhh{else}c_fff{/if}" style="line-height: 40px;">注册</a>
                                        </li>
                                    </ul>
                                {/if}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $("#tit span").click(function () {
                $(this).addClass("select").siblings().removeClass("select");
                $("#con li").eq($(this).index()).show().siblings().hide();
            })
        })
    </script>
</body>
</html>
