{template 'content', 'header'}
<body>
<div class="w100">
    <div class="w1100">
        <div class="information mt15">
            <div class="fl informationLeft h100">
                <div id="box1">
                    <div id="box_img">
                        <ul id="sub_img">
                            {pc:content action="lists" catid="$courseid" where="status=99" order="id DESC" num="4" cache="3600"}
                            {loop $data $value}
                            <li>
                                <a href="{$value['url']}" target="_blank"><img src="{thumb($value['thumb'], 300, 222)}" title="{$value['title']}"></a>
                            </li>
                            {/loop}
                            {/pc}
                        </ul>
                    </div>
                    <ul id="uls">
                        <li class="select">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                    </ul>
                    <span id="shang" class="sp"> < </span>
                    <span id="xia" class="sp"> > </span>
                </div>
            </div>
            <div class="fr informationRight bgc_fff h100">
                <div class="informationRightL fl">
                    <div class="focus-title">
                        焦点关注
                    </div>
                    <ul class="clearfix">
                        {pc:content action="position" posid="$posidList['focus']" order="listorder DESC" num="2" cache="3600"}
                        {loop $data $value}
                        <li>
                            <a href="{$value['url']}"><img src="{thumb($value['thumb'], 80, 60)}" title="{$value['title']}"></a>
                            <h2 class="dib"><a href="{$value['url']}" target="_blank"><i></i>{str_cut($value['title'], 100, '')}</a></h2>
                            <p><a href="{$value['url']}" target="_blank"><i></i>{str_cut($value['description'], 110, '')}</a>
                            </p>
                        </li>
                        {/loop}
                        {/pc}
                    </ul>
                </div>
                <div class="informationRightR fl">
                    <div class="focus-title">
                        最新活动
                    </div>
                    <ul class="clearfix">
                        {pc:content action="position" posid="$posidList['newActivity']" order="listorder DESC" num="7" cache="3600"}
                        {php $i = 0;}
                        {loop $data $value}
                        {if $i >= 2}
                        <li>
                            <a href="{$value['url']}" target="_blank"><i></i>{str_cut($value['title'], 45, '')}</a>
                        </li>
                        {/if}
                        {php $i++;}
                        {/loop}
                        {/pc}
                    </ul>
                </div>
            </div>
        </div>

        {show_ad(1, 21)}
        
        <div class="zixun mt15 bgc_fff">
            <div class="zixunCon clearfix">
                <div class="zixunConLeft fl">
                    <div class="zxLeft_title">
                        <ul class="clearfix">
                            <li class="fl">
                                <span class="dib">
                                    <a href="{APP_PATH}type-{$typeidList['news']}-1.html">最新资讯</a>
                                </span>
                            </li>
                            <li class="fr">
                                <a href="{APP_PATH}type-{$typeidList['news']}-1.html">
                                    < 更多
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="zxLeft_con clearfix">
                        <div class="zxLeft_conL fl w50">
                            <ul class="mb10">
                                {pc:content action="lists" catid="$newsid" where="status=99" order="id DESC" num="16" cache="3600"}
                                {php $i = 0;} 
                                {loop $data $value}
                                {if $i < 16}
                                <li class="{if $i == 8}mt15{/if}">
                                    <div class="lis fl">
                                        <span class="tit">
                                            <a href="{$value['url']}" target="_blank"><i></i>{$value['title']}</a>
                                        </span>
                                    </div>
                                     
                                    <span class="t fr">{date('m-d', $value['inputtime'])}</span>
                                </li>
                                {/if}
                                {php $i++;}
                                {/loop}
                                {/pc}
                            </ul>
                        </div>
                        <div class="zxLeft_conR fr" style="width: 48%;">
                            <ul class="mb10">
                                {pc:content action="lists" catid="$newsid" where="status=99" order="id DESC" num="32" cache="3600"}
                                {php $i = 0;}
                                {loop $data $value}
                                {if $i >= 16}
                                <li class="{if $i == 24}mt15{/if}">
                                    <div class="lis fl">
                                        <span class="tit">
                                            <a href="{$value['url']}" target="_blank"><i></i>{$value['title']}</a>
                                        </span>
                                    </div>
                                            
                                    <span class="t">{date('m-d', $value['inputtime'])}</span>
                                </li>
                                {/if}
                                {php $i++;}
                                {/loop}
                                {/pc}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="zixunConRight fr">
                    <div class="zxRight_title">
                        <ul>
                            <li class="fl">
                                <span>推荐资讯</span>
                            </li>
                        </ul>
                    </div>
                    <div class="zxRight_con clearfix zxRight_conc">
                        <ul class="ul1 clearfix">
                            {pc:content action="lists" catid="$newsid" where="`status`=99" order="updatetime DESC" num="1" cache="3600"}
                            {loop $data $value}
                            <li>
                                <div class="lImg fl">
                                    <a href=""><img src="{thumb($value['thumb'], 100, 80)}" title="{str_cut($value['title'], 36, '')}"></a>
                                </div>
                                <div class='rTxt fr'>
                                    <span><a href="{$value['url']}" target="_blank"><i></i>{str_cut($value['title'], 36, '')}</a></span>

                                    <a href="{$value['url']}" target="_blank" class="fs12"><i></i>{str_cut($value['description'], 100,
                                        '')}</a>
                                </div>
                            </li>
                            {/loop}
                            {/pc}
                        </ul>
                        <ul class="ul2 clearfix">
                            {pc:content action="lists" catid="$newsid" where="`status`=99" order="updatetime DESC" num="6" cache="3600"}
                            {php $i = 0;}
                            {loop $data $value}
                            {if $i >= 1}
                            <li>
                                <div class="ls">
                                    <a href="{$value['url']}" target="_blank"><i></i>{str_cut($value['title'], 57, '')}</a>
                                    <p>
                                        <a href="{$value['url']}">{str_cut($value['description'], 100, '')}</a>
                                    </p>
                                </div>
                            </li>
                            {/if}
                            {php $i++;}
                            {/loop}
                            {/pc}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- banner1-->
        {show_ad(1, 22)}

        <div class="curriculum mt15">
            <div class="w1100 curriculumCon bgc_fff clearfix">
                <div class="title2">
                    <a href="{APP_PATH}type-{$typeidList['tech']}-1.html" class=" a1 fl">创新大讲堂</a>
                    <a href="" class="a2 fr"> < 更多</a>
                </div>
                <ul class="ul">
                    {pc:content action="lists" catid="$courseid" where="status=99" order="id DESC" num="4" cache="3600"}
                    {loop $data $value}
                    <li>
                        <div class="imgs">
                            <a href="{$value['url']}" target="_blank">
                                <img src="{thumb($value['thumb'], 230, 155)}" title="{$value['title']}"/>
                            </a>
                            
                        </div>
                        <div class="text fs12">
                            <a href="">{$value['description']}</a>
                        </div>
                    </li>
                    {/loop}
                    {/pc}
                </ul>
            </div>
        </div>

        <!-- 技术文章-->
        <div class="article mt15">
            <div class="Manufacturer bgc_fff mt15 clearfix">
                <div class="ManufacturerCon clearfix">
                    <div class="manuConLeft fl">
                        <div class="manuConLeftL w49 fl">
                            <div class="title1">
                                <a href="{APP_PATH}type-{$typeidList['tech']}-1.html" target="_blank">技术文章</a>
                            </div>
                            <ul>
                                {php $where = 'typeid='.$typeidList['tech'];}
                                {pc:content action="lists" catid="$newsid" thumb="1" where="$where" order="id DESC" num="8" cache="3600"}
                                {php $i = 0;}
                                {loop $data $value}
                                {if $i < 4}
                                <li>
                                    {if $value['thumb'] == ""}
                                    <div class="centerCon">
                                        <div class="centerCon_txt fl">
                                            <h3><a href="{$value['url']}" target="_blank">{str_cut($value['title'], 50, '')}</h3>
                                            <a href="{$value['url']}" target="_blank">{str_cut($value['description'], 100, '')}
                                        </div>
                                    </div>
                                    {else}
                                    <div class="centerCon">
                                        <div class="centerCon_img fr">
                                            <a href="{$value['url']}" target="_blank">
                                                <img src="{thumb($value['thumb'], 96, 70)}" width="96" height="70" title="{str_cut($value['title'], 37, '')}">
                                            </a>
                                        </div>
                                        <div class="centerCon_txt fl" style="width: 245px;">
                                            <h3><a href="{$value['url']}" target="_blank">{str_cut($value['title'], 50, '')}</h3>
                                            <a href="{$value['url']}" target="_blank">{str_cut($value['description'], 100, '')}
                                        </div>
                                    </div>
                                    {/if}
                                </li>
                                {/if}
                                {php $i++;}
                                {/loop}
                                {/pc}
                            </ul>
                        </div>
                        <div class="manuConLeftR w49 fr">
                            <div class="title1 tar">
                                <a href="{APP_PATH}type-{$typeidList['tech']}-1.html" class="fs12" target="_blank"> < 更多</a>
                            </div>
                            <ul>
                                {php $i = 0;}
                                {loop $data $value}
                                {if $i > 3}
                                <li>
                                    {if $value['thumb'] == ""}
                                    <div class="centerCon">
                                        <div class="centerCon_txt fl">
                                            <h3><a href="{$value['url']}" target="_blank">{str_cut($value['title'], 41, '')}</h3>
                                            <a href="{$value['url']}" target="_blank">{str_cut($value['description'], 100, '')}
                                        </div>
                                    </div>
                                    {else}
                                    <div class="centerCon">
                                        <div class="centerCon_img fr">
                                            <a href="{$value['url']}" target="_blank">
                                                <img src="{thumb($value['thumb'], 96, 70)}" width="96" height="70" title="{str_cut($value['title'], 37, '')}">
                                            </a>
                                        </div>
                                        <div class="centerCon_txt fl" style="width: 245px">
                                            <h3><a href="{$value['url']}" target="_blank">{str_cut($value['title'], 41, '')}</h3>
                                            <a href="{$value['url']}" target="_blank">{str_cut($value['description'], 100, '')}
                                        </div>
                                    </div>
                                    {/if}
                                    
                                </li>
                                {/if}
                                {php $i++;}
                                {/loop}
                            </ul>
                        </div>
                    </div>
                    <div class="manuConRight fr">
                        <div class="manuConRightT"> 
                            <div class="title1" class="fl">
                                <a href="" target="_blank">最新招聘</a>
                            </div>
                            <div class="more">
                                <a href="" class="fr" target="_blank"> < 更多 </a>
                            </div>
                        </div>
                        <div class="zxRight_con clearfix">
                            <ul>
                                <script type="text/javascript" src="{$bbsJsUrl}{$indexBidList['job']}"></script>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- banner3-->
        {show_ad(1, 23)}
        
        <!-- 最新帖子-->
        <div class="Manufacturer bgc_fff mt15 clearfix">
            <div class="ManufacturerCon clearfix">
                <div class="manuConLeft fl">
                    <div class="manuConLeftL w49 fl zxtz"> 
                        <div class="title1">
                            <a href="{$bbsurl}" target="_blank">最新帖子</a>
                        </div>
                        <ul class="clearfix" style="margin-top: 10px;">
                            <script type="text/javascript" src="{$bbsJsUrl}{$indexBidList['thread'][0]}"></script>
                        </ul>
                    </div>
                    <div class="manuConLeftR w49 fr zxtz">
                        <div class="title1 tar">
                            <a href="{$bbsurl}" target="_blank"> < 更多</a>
                        </div>
                        <ul class="clearfix" style="margin-top: 10px;">
                            <script type="text/javascript" src="{$bbsJsUrl}{$indexBidList['thread'][1]}"></script>
                        </ul>
                    </div>
                </div>
                <div class="manuConRight fr">
                    <div class="manuConRightT">
                        <div class="title1">
                            <a href="" target="_blank">月度十大热门</a>
                        </div>
                        <div class="more">
                            <a href="" target="_blank"> < 更多 </a>
                        </div>
                    </div>
                    <div class="manuConRightB zxRight_con clearfix">
                        <ul>
                            <script type="text/javascript" src="{$bbsJsUrl}{$indexBidList['hot']}"></script>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- banner4-->
        {show_ad(1, 24)}
        <!-- 推荐日志 -->
        <div class="forum clearfix">
            <div class="zixun bgc_fff mt15">
                <div class="zixunCon clearfix">
                    <div class="zixunConLeft fl">
                        <div class="zxLeft_title">
                            <ul>
                                <li class="fl">
                                    <span>
                                        <a href="{$blogurl}" target="_blank">推荐日志</a>
                                    </span>
                                </li>
                                <li class="fr">
                                    <a href="{$blogurl}" target="_blank"> < 更多</a>
                                </li>
                            </ul>
                        </div>
                        <div class="zxLeft_con clearfix">
                            <div class="zxLeft_conL fl w50 clearfix">
                                <ol>
                                    <script type="text/javascript" src="{$bbsJsUrl}{$indexBidList['blog'][0]}"></script>
                                </ol>
                            </div>
                            <div class="zxLeft_conR fr w50">
                                <ol class="fr">
                                    <script type="text/javascript" src="{$bbsJsUrl}{$indexBidList['blog'][1]}"></script>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="zixunConRight fr">
                        <div class="zxRight_title">
                            <ul>
                                <li class="fl">
                                    <a href="" target="_blank">
                                        <span>空间之星</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="more fr">
                                        <a href="" target="_blank">
                                            < 更多
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="manuConRight fr">
                            <div class="manuConRightB">
                                <ul>
                                    <script type="text/javascript" src="{$bbsJsUrl}{$indexBidList['user']}"></script>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w100 mt15">
    <div class="w1100 footer bgc_fff">
        <div class="footerTop">
            <div class="ft_txt">
                <ul>
                    <li class="fl links"><span>友情链接</span></li>
                </ul>
            </div>
        </div>
        <div class="footerBottom clearfix">
            <ul class="clearfix">
                {pc:link action="lists" typeid="0" siteid="$siteid" linktype="0" order="desc" cache="86400"}
                {loop $data $value}
                <li class="fl"><a href="{$value['url']}" title="{$value['name']}" target="_blank">{$value['name']}</a></li>
                {/loop}
                {/pc}
            </ul>
        </div>
    </div>
    <div class="w1100 ftNav bgc_fff mt15">
        <div class="links">
            <a href="" target="_blank">ET创芯网(EETOP)-电子设计论坛、博客、超人气的电子工程师资料分享平台 </a>&nbsp;&nbsp;|
            <a href="" target="_blank">论坛</a>&nbsp;&nbsp;|
            <a href="" target="_blank">快捷面板</a>&nbsp;&nbsp;|
            <a href="" target="_blank">站点地图</a>&nbsp;&nbsp;|
            <a href="" target="_blank">空间列表</a>&nbsp;&nbsp;|
            <a href="" target="_blank">站点存档</a>&nbsp;&nbsp;|
            <a href="" target="_blank">关于我们</a>&nbsp;&nbsp;|
            <a href="" target="_blank">联系我们</a>
        </div>
        <div  class="sj">@2003-2018 中国电子顶级开发网  </div>
        <div class="copy">
            <p class="copyTxt"><a href="" target="_blank">京ICP备:10050787号 京公网安备：110105001212</a></p>
        </div>
    </div>
    {show_ad(1, 33)}
</div>
    <script>
    var timer = setInterval(active,2000);
    var autoNum = 0;
    function active(){
        //进来先将动画清掉
        $("#box_img").stop(true);
        autoNum++;
        autoNum%=4;
        $("#box_img").animate({
            "scrollLeft": 300*autoNum
        },500);
        changFn();
    };
    //点击下一张
    $("#xia").on("click",active);
    //点击上一张
    $("#shang").on("click",function(){
        $("#box_img").stop(true);
        autoNum--;
        if(autoNum<0){
            autoNum=3;
        }
        $("#box_img").animate({
            "scrollLeft": 300*autoNum
        },200);
        changFn();
    });
    
    //修改4个li样式
    function changFn(){
        $("#uls li").eq(autoNum).addClass("select").siblings().removeClass("select");
    }
    //4个小按钮事件
    $("#uls li").on("click",function(){
        autoNum = $(this).index();
        $("#box_img").animate({
            "scrollLeft": 300*autoNum
        },200);
        changFn();
    })
    //鼠标移入
    $("#box1").on("mouseenter",function(){
        clearInterval(timer);
    });
    //鼠标离开
    $("#box1").on("mouseleave",function(){
        timer = setInterval(active,2000);
    });

</script>
</body>
</html>