{template 'content', 'header_course'}

<section>
    <div class="list_course w100 clearfix">
        <div class="w1100">
            <div class="lcL fl">
                <dl>
                    <dt class="lcL_all"><a href="">全部</a></dt>
                    <?php $TYPE = getcache('type_content','commons');?>
                    {pc:content action="lists" catid="$TYPE" num="5" order="id DESC"}
                    <!-- <?php print_r($TYPE) ;?> -->
                        {loop $data $value}
                            <dd>  <!-- class="icon" -->
                                <a href="">{$TYPE[$value[typeid]][name]}</a>
                            </dd>
                        {/loop}
                    {/pc}
                </dl>
            </div>
            <div class="lcR fr">
                <div class="search">
                    <form action="">
                        <input class="inp" type="text" placeholder="搜索视频、课程及专题">
                        <input class="sub" type="submit">
                        <span>
                            大家都在搜：
                            <a href="">电源 |</a>
                            <a href="">电子技术史话 |</a>
                            <a href="">树莓派 |</a>
                            <a href="">FPGA |</a>
                            <a href="">sensortile </a>
                        </span>
                    </form>
                </div>
                <div class="course_list">
                    <div class="course_list_name">
                        <h3>
                            <span class="rank_course fr" style="display: inline-block;">
                                <a href="">最热课程</a> | 
                                <a href="">最新课程</a>
                            </span>
                            <a href="" class="name">大学堂</a>
                        </h3>
                    </div>
                    <ul class="show_list clearfix">
                        {php $courseWhere = 'typeid='.$typeidList['course'];}
                        {pc:content action="lists" catid="$courseid" where="$courseWhere" order="id DESC" num="8" cache="0" page="$page" moreinfo="1"}
                        {loop $data $value}
                        <li>
                            <div class="show_list_img fl">
                                <a href=""><img src="{thumb($value['thumb'], 228, 145)}" alt=""></a>
                            </div>
                            <div class="show_list_main fr">
                                <h2><a href="">{$value['title']}</a></h2>
                                <h6>
                                    <span><a href="">TI</a></span>
                                    <span><a href="">超声</a></span>
                                    <span><a href="">流量计</a></span>
                                    <span><a href="">FR6043</a></span>
                                </h6>
                                <p class="desc">
                                    {$value['description']}
                                </p>
                                <p class="time">
                                    <span>{$value['class_hour']}</span>
                                    <span>{$value['duration']}</span>
                                    <span>{$value['laoshi']}</span>
                                    <span>{date('Y-m-d', $value['inputtime'])}</span>
                                </p>
                            </div>
                        </li>
                        {/loop}
                    <div class="page_nav">
                                <div class="more">
                                    <div id="pages" class="text_c">{$pages}</div>
                                </div>
                            </div>
                        {/pc}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{template 'content', 'footer_course'}