{if $_GET['a'] == 'lists'} <!-- 列表页 -->
<div class="crumbs nav_css">
     <ul class="lists">
         <li>
             {if $typeid == $typeidList['news']}
                <a href="{APP_PATH}type-{$typeidList['news']}-1.html">资讯</a> >&nbsp;
             {elseif $typeid == $typeidList['tec']}
                <a href="{APP_PATH}type-{$typeidList['tec']}-1.html">技术</a>&nbsp;>&nbsp;
             {/if}
         </li>
         <li>
             {if $typeid == $typeidList['news']}
             <a href="{APP_PATH}list-{$catid}-{$typeidList['news']}-1.html">{$catname}</a> >&nbsp;
             {elseif $typeid == $typeidList['tec']}
<div class="crumbs">
             <a href="{APP_PATH}list-{$catid}-{$typeidList['tec']}-1.html">{$catname}</a>&nbsp; >&nbsp;
             {/if}
         </li>
         <li>
             列表
         </li>
     </ul>
</div>
{elseif $_GET['a'] == 'type'}
    <ul class="lists">
        <li>
            {if $typeid == $typeidList['news']}
                <a href="{APP_PATH}type-{$typeidList['news']}-1.html">资讯 &nbsp; >  </a>
            {elseif $typeid == $typeidList['tec']}
                <a href="{APP_PATH}type-{$typeidList['tec']}-1.html">技术 &nbsp; >  </a>
            {/if}
        </li>
        <li>
            &nbsp;全部&nbsp;>&nbsp;
        </li>
        <li>
            列表
        </li>
    </ul>
</div>
{elseif $_GET['a'] == 'category'} <!-- 频道页 -->
<div class="w1100">
    <div class="crumbs nav_css2">
        <ul>
            <li>
                <a href="category.html">频道首页&nbsp; > </a>
            </li>
            <li>
                {if $catid == $newsid}
                    <a href="category-{$catid}.html">&nbsp;&nbsp;全部</a>
                {else}
                    <a href="category-{$catid}.html">&nbsp;&nbsp;{$catname}</a>
                {/if}
            </li>
        </ul>
    </div>
</div>
{elseif $_GET['a'] == 'show' || $_GET['a'] == 'view'} <!-- 内容页 -->
<div class="w1100">
    <div class="crumbs nav_css2">
        <div class="current_nav">
            <a href="category.html">频道首页</a><span> &gt; </span><a href="category-{$catid}.html">&nbsp;&nbsp;{$CATEGORYS[$catid]['catname']}</a> <span> &gt; </span> 内容
        </div>
    </div>    
</div>
{/if}


