{template "content","header"}
<div class="w100">
    <div class="w1100">
        <div class="about_us clearfix">
            <div class="au_l fl">
                <ul id="tit">
                    <li>
                        <a href="JavaScript:;">
                            关于我们
                            <span class="jt"></span>
                        </a>
                    </li>
                    <li class="more"><a href="JavaScript:;">联系我们<span class="jt"></span></a></li>
                </ul>
            </div>
            <div class="au_r fr" id="au_r">
                <ul id="con" class="clearfix">
                    <li>
                        <div class="au_r_t">
                            <p>关于EETOP</p>
                        </div>
                        <div class="au_r_b">
                            <p>
                                EETOP ET创芯网（易特创芯）是电子领域领先的综合媒体服务平台，业务包括EETOP网站、EETOP论坛、EETOP微信公众号、创芯大讲堂、会展活动、创芯英才及项目对接等，致力于为电子工程师提供最庞大的电子信息智库、为企业提供最精准的信息传播途径，为助推行业人才的培养做出积极贡献。
                            </p>
                            <p>
                                EETOP网站、论坛成立于2003年5月，是国内最早的微电子领域工程师社区，深受电子工程师的喜爱和信赖，同时也是是国内知名电子高校学子的首选平台。目前网站注册用户超170万，活跃用户超20万，位居行业第一，是国内最著名的的电子工程师网站，及最活跃的电子工程师交流社区，更是半导体行业的门户网站。
                            </p>
                            <p>
                                EETOP微信公众号创建于2015年2月，是微电子领域最活跃的微信公众号之一 ，截至2018年12月，微信会员粉丝超16万，是行业高端信息的重要输出平台。
                                自2017年以来，我们的团队一直专注于通过多元化的方式，帮助全球的企业、机构与国内外的目标受众建立有效联系，为塑造品牌形象、打响知名度、推动销售、收集数据名单、筹集资本等提供有力支持。精准有效的服务为我们赢得了很多客户的信赖和持续的支持！  2019年，我们将再接再厉，为客户提供卓尔有效的优质服务。感谢有您的陪伴与支持！
                            </p>
                            <p>
                                
                            </p> 
                        </div>
                    </li>
                    <li class="show">
                        <div class="au_r_t">
                            <p>联系我们</p>
                        </div>
                        <div class="au_r_b">
                            <p class="tit">
                                <b>客户服务（功能故障、投诉建议、使用帮助）</b>
                            </p>
                            <p>地址：北京市朝阳区双泉堡甲2号14号楼325室</p>
                            <p>联系电话：010-6487 1382</p>
                            <p>邮箱：jack@eetop.com.cn</p>
                            {show_ad(1, 41)}
                            <p class="tit">
                                <b>客服提醒：</b>客服在线时间工作日周一至周五9:30-12:00,13:30-18:00
                            </b></p>
                        </div>
                    </li>
                </ul>           
            </div>
        </div>
    </div>
</div>
{template "content","footer"}
<script>

    $("#tit li").click(function(){
        var index=$("#tit li").index(this)
        $(this).addClass("more").siblings().removeClass("more")
        $("#au_r #con li").eq(index).addClass("show").siblings().removeClass("show")
    })
</script>