{template 'content', 'header'}

<div class="recruit w100">
    <div class="w1100 clearfix">
        <div class="fl recruit_l recruitCon">
            <ul>
                <li>
                    <div class="tit_img fl">
                        <a href=""><img src="{APP_PATH}data/attachment/common/6f/common_329_icon.gif" alt=""></a>
                    </div>
                    <div class="tit_con fl">
                        <h3>SEO</h3>
                        <div class="info">
                            <span><a href="">北京</a></span>
                            <span><a href="">全日制</a></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="tit_img fl">
                        <a href=""><img src="{APP_PATH}data/attachment/common/6f/common_329_icon.gif" alt=""></a>
                    </div>
                    <div class="tit_con fl">
                        <h3>SEO</h3>
                        <div class="info">
                            <span><a href="">北京</a></span>
                            <span><a href="">全日制</a></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="tit_img fl">
                        <a href=""><img src="{APP_PATH}data/attachment/common/6f/common_329_icon.gif" alt=""></a>
                    </div>
                    <div class="tit_con fl">
                        <h3>SEO</h3>
                        <div class="info">
                            <span><a href="">北京</a></span>
                            <span><a href="">全日制</a></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="tit_img fl">
                        <a href=""><img src="{APP_PATH}data/attachment/common/6f/common_329_icon.gif" alt=""></a>
                    </div>
                    <div class="tit_con fl">
                        <h3>SEO</h3>
                        <div class="info">
                            <span><a href="">北京</a></span>
                            <span><a href="">全日制</a></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="fr recruit_r recruitCon">
            <ul>
                <li>
                    <div class="tit_img fl">
                        <a href=""><img src="{APP_PATH}data/attachment/common/6f/common_329_icon.gif" alt=""></a>
                    </div>
                    <div class="tit_con fl">
                        <h3>SEO</h3>
                        <div class="info">
                            <span><a href="">北京</a></span>
                            <span><a href="">全日制</a></span>
                        </div>
                    </div>
                </li><li>
                    <div class="tit_img fl">
                        <a href=""><img src="{APP_PATH}data/attachment/common/6f/common_329_icon.gif" alt=""></a>
                    </div>
                    <div class="tit_con fl">
                        <h3>SEO</h3>
                        <div class="info">
                            <span><a href="">北京</a></span>
                            <span><a href="">全日制</a></span>
                        </div>
                    </div>
                </li><li>
                    <div class="tit_img fl">
                        <a href=""><img src="{APP_PATH}data/attachment/common/6f/common_329_icon.gif" alt=""></a>
                    </div>
                    <div class="tit_con fl">
                        <h3>SEO</h3>
                        <div class="info">
                            <span><a href="">北京</a></span>
                            <span><a href="">全日制</a></span>
                        </div>
                    </div>
                </li><li>
                    <div class="tit_img fl">
                        <a href=""><img src="{APP_PATH}data/attachment/common/6f/common_329_icon.gif" alt=""></a>
                    </div>
                    <div class="tit_con fl">
                        <h3>SEO</h3>
                        <div class="info">
                            <span><a href="">北京</a></span>
                            <span><a href="">全日制</a></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

{template 'content', 'footer'}