<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}-{/if}{$SEO['site_title']}</title>
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" id="viewport">
  <link rel="stylesheet" href="{CSS_PATH}drivers/global.css">
  <link rel="stylesheet" href="{CSS_PATH}drivers/m/search.css">
  <script src="https://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
  <div class="form1 site fl" id="site">
    <input type="text" class="tb-text" id="input" placeholder="请输入搜索的内容" >
    <input type="text" id="hiddentext" style="display:none;">
    <span id="sp1">
        <a href="javascript:void(0);" id="button" class="coment1">搜索</a>
        <i class="i-search"></i>
    </span>
    <script>
        function getURL() {
            var val = document.getElementById("input").value;
            var zn = "http://zhannei.baidu.com/cse/search?s=5614971210648505611&entry=1&q=";
            var znss = zn+val;
            var newWindow = window.open();
             var url = "http://zhannei.baidu.com/";//请求的url
             jQuery.ajax({
                type: 'get',
                url: url,
                cache: false,
                dataType: "jsonp",
                processData: false,
                timeout:1000,
                complete: function (data) {
                    var htmlTxt =[];
                    if (data.status==200) {
                      newWindow.location.href=znss;
                    } else {
                      newWindow.location.href ='http://www.baidu.com/s?wd=site:eetop.cn' + ' ' + val;
                    }    
                }       
            });
        }

        jQuery("#button").click(function(){
            getURL();
            
        });
        
        jQuery("#input").keypress(function(e){
            var curKey = e.which;
            if(curKey == "13"){
                getURL();
            }
        });
    </script>
  </div>
</body>
</html>