{template 'content', 'header_course'}

<section>
    <div class="w100">
        <div class="show_course w1100">
            <div class="show_course_tit">
                <h4>
                    您的位置：
                    <a href="">EEWORLD大学堂 | </a>
                    <a href="">直播频道 | </a>
                    <a href="">直播回放：TI 超声气体流量计量创新方案</a>
                </h4>
            </div>
            <div class="show_main clearfix">
                <div class="smL fl">
                    <div class="course_show1">
                        <div id="nav" class="clearfix">
                            <ul>
                                <li class="tab1">课程介绍</li>
                                <li>课程目录</li>
                            </ul>
                        </div>
                        <div class="content2">
                           <div class="div_show">
                               <img style="width: 100%;" src="http://open-image.ws.126.net/c9f03dc4474c4bc3959ad01121b70717.jpg?_t=1555403271604" alt="">
                           </div>
                           <div class="mulu clearfix">
                               <ul>
                                   <li>
                                       <i></i>
                                       <a href="">课时1：MCU芯片架构</a>
                                   </li>
                                   <li>
                                       <i></i>
                                       <a href="">课时2：MCU芯片架构</a>
                                   </li>
                                   <li>
                                       <i></i>
                                       <a href="">课时3：MCU芯片架构</a>
                                   </li>
                                   <li>
                                       <i></i>
                                       <a href="">课时4：MCU芯片架构</a>
                                   </li>
                                   <li>
                                       <i></i>
                                       <a href="">课时5：MCU芯片架构</a>
                                   </li>
                               </ul>
                           </div>
                       </div>
                    </div>
                </div>
                <div class="smR fr">
                    <div class="lecturer">
                        <div class="lecturer_tit">
                            <i class="line"></i>
                            <h3>授课老师</h3>
                        </div>
                        <div class="lecturer_con">
                            <div class="lecturer_con_tit">
                                <div class="titImg">
                                    <a href=""><img src="https://image.gogoup.com/teacher/1548917181580.jpg" alt=""></a>
                                </div>
                                <div class="name">
                                    <a href="">嗡嗡</a>
                                </div>
                                <p>资深设计手绘讲师</p>
                            </div>
                            <div class="lecturer_con_bot">
                                <h3>主讲的其他课程：</h3>
                                <ul class="clearfix">    
                                    <li>
                                        <a href=""><img src="https://image.gogoup.com/course/20190131/1548924458452.gif?x-oss-process=image/resize,m_fill,h_138,w_244" alt=""></a>
                                        <div class="txt"><span>工业设计手绘之...</span></div>
                                    </li>
                                    <li>
                                        <a href=""><img src="https://image.gogoup.com/course/20190131/1548924458452.gif?x-oss-process=image/resize,m_fill,h_138,w_244" alt=""></a>
                                        <div class="txt"><span>工业设计手绘之...</span></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="lecturer">
                        <div class="lecturer_tit lecturer_tit1">
                            <i class="line"></i>
                            <h3>相关课程</h3>
                        </div>
                        <div class="lecturer_con">
                            <div class="lecturer_con_bot">
                                <ul class="clearfix">    
                                    <li>
                                        <a href=""><img src="https://image.gogoup.com/course/20190131/1548924458452.gif?x-oss-process=image/resize,m_fill,h_138,w_244" alt=""></a>
                                        <div class="txt"><span>工业设计手绘之...</span></div>
                                    </li>
                                    <li>
                                        <a href=""><img src="https://image.gogoup.com/course/20190131/1548924458452.gif?x-oss-process=image/resize,m_fill,h_138,w_244" alt=""></a>
                                        <div class="txt"><span>工业设计手绘之...</span></div>
                                    </li>
                                    <li>
                                        <a href=""><img src="https://image.gogoup.com/course/20190131/1548924458452.gif?x-oss-process=image/resize,m_fill,h_138,w_244" alt=""></a>
                                        <div class="txt"><span>工业设计手绘之...</span></div>
                                    </li>
                                    <li>
                                        <a href=""><img src="https://image.gogoup.com/course/20190131/1548924458452.gif?x-oss-process=image/resize,m_fill,h_138,w_244" alt=""></a>
                                        <div class="txt"><span>工业设计手绘之...</span></div>
                                    </li>
                                    <li>
                                        <a href=""><img src="https://image.gogoup.com/course/20190131/1548924458452.gif?x-oss-process=image/resize,m_fill,h_138,w_244" alt=""></a>
                                        <div class="txt"><span>工业设计手绘之...</span></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="maybelike">
                <div class="m_like">
                    <h6>
                        <span id="button">
                            <a href="javascript:;">换一批</a>
                        </span>
                        猜你喜欢
                    </h6>
                </div>
                <ul class="clearfix hyp2">
                    <li class="w1100" class="">
                        {pc:content action="lists" catid="$newsid" where="$newsWhere" order="id DESC" num="5" cache="0"}
                            {loop $data $value}
                                <div class="list4">
                                    <div class="img">
                                        <a href="">
                                            <img src="{thumb($value['thumb'], 209, 116)}" alt="">
                                        </a>
                                    </div>
                                    <div class="tit">
                                        <a href="">{$value['title']}</a>
                                    </div>
                                </div>
                            {/loop}
                        {/pc}
                        
                    </li>
                </ul>
                <ul class="clearfix hyp2" style="display: none;">
                    <li class="w1100">
                        <div class="list4">
                            <div class="img">
                                <a href="">
                                    <img src="https://open-image.nosdn.127.net/e0baba1745524ad2acd049de076ef964.png?imageView&thumbnail=540y300&enlarge=1&quality=85" alt="">
                                </a>
                            </div>
                            <div class="tit">
                                <a href="">附近饿哦勾结哦该机构我问过曲儿个</a>
                            </div>
                        </div>
                        <div class="list4">
                            <div class="img">
                                <a href="">
                                    <img src="https://open-image.nosdn.127.net/e0baba1745524ad2acd049de076ef964.png?imageView&thumbnail=540y300&enlarge=1&quality=85" alt="">
                                </a>
                            </div>
                            <div class="tit">
                                <a href="">附近饿哦勾结哦该机构我问过曲儿个</a>
                            </div>
                        </div>
                        <div class="list4">
                            <div class="img">
                                <a href="">
                                    <img src="https://open-image.nosdn.127.net/e0baba1745524ad2acd049de076ef964.png?imageView&thumbnail=540y300&enlarge=1&quality=85" alt="">
                                </a>
                            </div>
                            <div class="tit">
                                <a href="">附近饿哦勾结哦该机构我问过曲儿个</a>
                            </div>
                        </div>
                        <div class="list4">
                            <div class="img">
                                <a href="">
                                    <img src="https://open-image.nosdn.127.net/e0baba1745524ad2acd049de076ef964.png?imageView&thumbnail=540y300&enlarge=1&quality=85" alt="">
                                </a>
                            </div>
                            <div class="tit">
                                <a href="">附近饿哦勾结哦该机构我问过曲儿个</a>
                            </div>
                        </div>
                        <div class="list4">
                            <div class="img">
                                <a href="">
                                    <img src="https://open-image.nosdn.127.net/e0baba1745524ad2acd049de076ef964.png?imageView&thumbnail=540y300&enlarge=1&quality=85" alt="">
                                </a>
                            </div>
                            <div class="tit">
                                <a href="">附近饿哦勾结哦该机构我问过曲儿个</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{template 'content', 'footer_course'}

<script>
    $(function () {
        $("#tab .tab .tab-item").click(function () {
            $(this).addClass("active").siblings().removeClass("active");
            $(".products .main").eq($(this).index()).show().siblings().hide();
        })
    })
    $('#nav ul li').click(function(event) {
        $(this).addClass('tab1');
        $(this).siblings().removeClass('tab1');
 
        $('.content2 div').eq($(this).index()).addClass('div_show');
        $('.content2 div').eq($(this).index()).siblings().removeClass('div_show');
    })
    
    var i=0;
    document.getElementById('button').onclick=function(){
        var a=document.getElementsByClassName('hyp2'),l=a.length;
        a[i++].style.display='none';
        if(i>=l)i=0;
        a[i].style.display='block';
    }
</script>