{template 'content', 'header'}
<div class="w100">
    {template 'content', 'nav'}
    <div>
        <div class="content w1100 content1">
            <div class="con_three">
                <div class="all_banner_show">
                    {show_ad(1, 35)}
                </div>
                
                <div class="con_three_l fl">
                    <div class="post_tit">
                        <h1>{$title}</h1>
                        <span class="pt_info fs12">
                            <span class="date">{$inputtime}</span>
                            来源：<span>{if $copyfrom}{$copyfrom}{else}未知{/if}</span>
                        </span>
                        {show_ad(1, 39)}
                    </div>
                    {show_ad(1, 26)}
                    <div class="post_con">
                        {if $allow_visitor == 1}
                        {$content}
                        {if $voteid}<script language="javascript" src="{APP_PATH}index.php?m=vote&c=index&a=show&action=js&subjectid={$voteid}&type=2"></script>{/if}
                        {else}
                        <a href="{APP_PATH}index.php?m=content&c=readpoint&allow_visitor={$allow_visitor}">阅读此信息需要您支付 <B><I>{$readpoint} {if $paytype}元{else}点{/if}</I></B>，点击这里支付</a>
                        {/if}
                    </div>

                    <div class="relevant clearfix">
                        <div class="tit clearfix">
                            <div class="mb10">
                                <span class="{if $keyword == ' '}dpn{/if}">
                                    关键词：
                                    {loop $keywords $keyword}
                                    <a class="blue"
                                       href="{APP_PATH}index.php?m=content&c=tag&a=lists&tag={urlencode($keyword)}">{$keyword}</a>
                                    {/loop}
                                </span>
                            </div>
                            <h2 class="mb10">相关文章</h2>
                        </div>
                        
                        <ul class="list_3 fl clearfix w100">
                            <li class="fl">上一篇：<a href="{$previous_page['url']}">{str_cut($previous_page['title'], 55, '')}</a></li>
                            <li style="float: right !important;">下一篇：<a href="{$next_page['url']}">{str_cut($next_page['title'], 55, '')}</a></li>
                        </ul>
                    </div>
                    {pc:content action="relation" relation="$relation" catid="$catid" id="$id" keywords="$rs['keywords']" num="4" cache="3600"}
                    {if $data}
                    <div class="see">
                        <div class="see_con">
                            <div class="tit clearfix mt15">
                                <h2 class="fl">延伸阅读</h2>
                            </div>
                            <ul class="list_1">
                                {loop $data $value}
                                <li>
                                    <a href="{$value['url']}" target="_blank">
                                        <div>
                                            <img src="{thumb($value['thumb'], 132, 102)}"
                                                 title="{$value['title']}">
                                        </div>
                                        <div class="txt">{$value['title']}</div>
                                    </a>
                                </li>
                                {/loop}
                            </ul>
                        </div>
                    </div>
                    {/if}
                    {/pc}
                    <div class="commList mt15 clearfix">
                        <h3 class="mb10">全部评论</h3>
                        <ul class="list">
                            {if $allow_comment && module_exists('comment')}
                            <iframe src="{APP_PATH}index.php?m=comment&c=index&a=init&commentid={id_encode("content_$catid", $id, $siteid)}&iframe=1" width="100%" height="100%" id="comment_iframe" frameborder="0"
                            scrolling="no"></iframe>
                            {else}
                            <p align="center" class="p_img">评论功能关闭</p>
                            {/if}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right_con">
                {template 'content', 'right'}
            </div>
        </div>
    </div>
</div>
{show_ad(1, 33)}
</div>

<script type="text/javascript">
    function show_ajax(obj) {
        var keywords = $(obj).text();
        var offset = $(obj).offset();
        var jsonitem = '';
        $.getJSON("{APP_PATH}index.php?m=content&c=index&a=json_list&type=keyword&modelid={$modelid}&id={$id}&keywords=" + encodeURIComponent(keywords),
            function (data) {
                var j = 1;
                var string = "<div class='point key-float'><div style='position:relative'><div class='arro'></div>";
                string += "<a href='JavaScript:;' onclick='$(this).parent().parent().remove();' hidefocus='true' class='close'><span>关闭</span></a><div class='contents f12'>";
                if (data != 0) {
                    $.each(data, function (i, item) {
                        j = i + 1;
                        jsonitem += "<a href='" + item.url + "' target='_blank'>" + j + "、" + item.title + "</a><BR>";

                    });
                    string += jsonitem;
                } else {
                    string += '没有找到相关的信息！';
                }
                string += "</div><span class='o1'></span><span class='o2'></span><span class='o3'></span><span class='o4'></span></div></div>";
                $(obj).after(string);
                $('.key-float').mouseover(
                    function () {
                        $(this).siblings().css({"z-index": 0})
                        $(this).css({"z-index": 1001});
                    }
                )
                $(obj).next().css({"left": +offset.left - 100, "top": +offset.top + $(obj).height() + 12});
            });
    }

    function add_favorite(title) {
        $.getJSON('{APP_PATH}api.php?op=add_favorite&title=' + encodeURIComponent(title) + '&url=' + encodeURIComponent(location.href) + '&' + Math.random() + '&callback=?', function (data) {
            if (data.status == 1) {
                $("#favorite").html('收藏成功');
            } else {
                alert('请登录');
            }
        });
    }

    $(function () {
        $('#Article .content img').LoadImage(true, 660, 660, '{IMG_PATH}s_nopic.gif');
    })
</script>

<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>

{template 'content', 'footer'}