html,body{
    background-color: #fff;
    font-family: sans-serif !important;
}
.show_content{
    padding: 14px;
    padding-bottom: 0;
    margin-top: 47px;
    background: #fff;
}
.show_content .show_tit{
    font-size: 22px;
    font-weight: 600;
    color: #2c3e50;
}
.show_content .icos {
    padding: 10px 0;
}
.show_content .icos span{
    padding-right: 15px;
    color: #666;
}
.show_content .user_time span{
    font-size: 12px;
    color: #999;
}
.show_content .tit_img img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.show_content .tit_img .user2{
    line-height: 45px;
    margin-left: 10px;
}
.show_content .gz{
    padding: 5px 10px;
    background-color: #0b68a9;
    color: #fff;
    border-radius: 3px;
    line-height: 45px;
    font-size: 12px;
}
.show_content .cont{
    text-align: justify !important;
    font-family: sans-serif !important;
    letter-spacing: 1px;
}
.show_content .cont p,.show_content .cont>span{
    line-height: 28px;
    padding: 8px 0;
    margin-bottom: 0 !important;
}
.show_content .cont>span,.show_content .cont p span{
    display: block;
    font-family: sans-serif !important;
}
.show_content .cont p span font{
    font-family: sans-serif !important;
}
.show_content .cont section{
    line-height: 25px;
    padding: 8px 0;
}
/*.show_content .cont span{
    font-size: 16px !important;
}*/

.upbox{
    margin: 15px 0;
}
.pl .pl1 span{
    font-size: 20px;
}
.pl .login a{
    color: #0b68a9;
    font-size: 14px;
}
.pl .login span{
    font-size: 14px;
}
.plk{
    height: 265px;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: #fff;
}

.ewm{
    margin-bottom: 10px;
}
.ewm .ewm_s1{
    width: 49.8%;
    text-align: center;
}
.ewm .ewm_s{
    border-right: 1px solid #eee;
}
/*.ewm .br1{
    border-right: 1px solid #e2dada;
}*/
.ewm img{
    width: 60%;
    height: auto;
    text-align: center;
}
.ewm p{
    text-align: center;
}


.show_content .cont img{
    width: 100% !important;
    height: auto !important;
    margin-top: 10px !important;
}
.list_3{
    margin-bottom: 10px;
}
ul.list_3 li{
    width: 100%;
    margin: 5px 0;
}


.bot_hf{
    width: 100%;
    height: 55px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #ddd;
    /*padding-top: 6px;*/
}
.huifu{
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
}
.huifu input{
    width: 45%;
    height: 20px;
    background-color: #eee;
    border: none;
    margin-bottom: 7px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 18px;
    border-radius: 20px;
}
.pls{
    width: 100%;
    height: 270px;
    background-color: #ddd;
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
}
.pls .qx{
    position: absolute;
    bottom: 22px;
    right: 22px;
}
.huifucon{
    position: relative;
}
.huifucon .fx{
    position: fixed;
    right: 20px;
    bottom: 15px;
}

.fx_con{
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #ddd;
    display: none;
}
.bshare-custom{
    height: 100%;
    background: #fff;
}
.bshare-custom .icon{
    float: left;
    width: 14%;
    height: 70px;
    margin-left: 17px;
}
.bshare-custom .icon a{
    width: 45px;
    height: 50px;
    padding-left: 0 !important;
    margin-left: 8px;
    margin-top: 20px;
}
.bshare-custom .icon p{
    text-align: center;
    margin-top: 5px;
}
.bshare-custom .bshare-qqim{
    background: url(../../../../../statics/images/drivers/m/qq.jpg) no-repeat !important;
}
.bshare-custom .bshare-qzone{
    background: url(../../../../../statics/images/drivers/m/kongjian.jpg) no-repeat !important;
}
.bshare-custom .bshare-weixin{
    background: url(../../../../../statics/images/drivers/m/weixin.jpg) no-repeat !important;
}
.bshare-custom .bshare-sinaminiblog{
    background: url(../../../../../statics/images/drivers/m/weibo.jpg) no-repeat !important;
}
.bshare-custom .pengyouquan{
    background: url(../../../../../statics/images/drivers/m/pengyouquan.jpg) no-repeat !important;
}

#fx .num{
    position: relative;
    top: -15px;
    right: 15px;
}