<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" id="viewport">
    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}-{/if}{$SEO['site_title']}</title>
    <link rel="stylesheet" href="{CSS_PATH}drivers/global.css">
    <link rel="stylesheet" href="{CSS_PATH}drivers/m/course.css">
    <link rel="stylesheet" href="{CSS_PATH}drivers/m/swiper.min.css">
    <link rel="stylesheet" href="{CSS_PATH}drivers/m/style.css">
</head>
