.activity_nav{
    padding: 10px;
    background-color: #fff;
    border-bottom: 10px solid #f9f9f9;
}
.activity_nav a{
    font-size: 13px;
}

.activity_con{
    height: auto;
    background-color: #fff;
    padding-bottom: 15px;
}
.activity_con .actv_img{
    height: 80px;
    padding: 15px 10px;
}
.activity_con .actv_img .actv_banner{
    width: 67%;
    height: 80px;
    background-color: red;
}
.activity_con .actv_img .actv_txt{
    width: 31%;
    height: 80px;
    background-color: blue;
}

.activity_con .actv_tit{
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    border-bottom: 2px solid #0b68a9;
}
.ull1{
    margin-left: 10px;
}
.activity_con .actv_tit a{
    font-size: 13px;
    /*font-weight: 600;*/
    display: inline-block;
    padding: 0 14px;
}
.activity_con .actv_tit a.main{
    color: #fff;
    background-color: #0b68a9 ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.activity_con .actv_conL{
    width: 65%;
    height: auto  ;
}
.activity_con .actv_conL ul li{
    width: 98.1%;
    height: auto;
    border: 1px solid #ddd;
    margin: 10px 0 0;
    padding: 20px 10px;
}
.activity_con .actv_conL ul li .actv_conL_img{
    width: 190px;
    height: 100px;
}
.activity_con .actv_conL ul li .actv_conL_img img{
    width: 100%;
    height: 100%;
}
.activity_con .actv_conL ul li .actv_conL_txt{
    width: 68%;
}
.activity_con .actv_conL ul li .actv_conL_txt .p_tit{
    font-size: 16px;
    font-weight: bold;
}
.activity_con .actv_conL ul li .actv_conL_txt .p_dec{
    font-size: 13px;
    margin-top: 10px;
}

.activity_con .actv_conR{
    width: 30%;
    height: auto;
    margin-right: 10px;
    border-bottom: none;
    margin-top: 37px;
}
.activity_con .actv_conR .actv_conRa{
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
.activity_con .actv_conR .actv_conRa .tit{
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 13px;
    background: #0b68a9 ;
    color: #fff;
}
.activity_con .actv_conR .actv_conRa .tit h3{
    /*border-left: 3px solid #fff;*/
    /*padding-left: 6px;*/
}
.activity_con .actv_conR .actv_conRa ul li{
    padding: 5px 10px 5px 15px;
}
.activity_con .actv_conR .actv_conRa ul li a{
    font-size: 13px;
}

.actv_conRa ul{
    padding: 10px 0;
}
.p12{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dec_3{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}