.bgimg_list{
    /*z-index: 99;*/
    position: relative;
    /*width: 645px;*/
    margin-top: 20px;
}

.bgimg .bgimg_list li{
    margin: 15px 0;
    margin-left: 30px;
    /*border-radius: 10px;*/
    margin-bottom: 0;
    /*width: 45%;*/
    float: left;
}
.bgimg .bgimg_list li span{
    font-size: 14px;
    font-weight: 600;
}
.bgimg .bgimg_list li p{
    font-size: 13px;
    /*width: 150px;*/
    line-height: 28px;
}
.bgimg_list li .flw{
    width: 160px;
    height: 110px;
}
.bgimg_list li .flw img{
    width: 100%;
    height: 100%;
}

.text2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
}

/*轮播部分--------------------------------*/


#lunbobox {
    width:100%;
    height:205px;
    position:relative;
    
}
.lunbo {
    /*width:100%;*/
    height:205px;
    /*position: relative;*/
}

#lunbobox ul {
    width:285px;
    position:absolute;
    bottom:15px;
    left: 37%;
    margin-left: -108px;
    z-index:5;
}
#lunbobox ul li {
    cursor:pointer;
    width:30px;
    height:6px;
    border:1px solid #cccccc;
    float:left;
    list-style:none;
    background:#cccccc;
    text-align:center;
    margin:0px 5px 0px 0px;
}
#toleft {
    display:none;
    width:30px;
    height:100px;
    font-size:40px;
    line-height:100px;
    text-align:center;
    color:#f4f4f4;
    background:#cccccc;
    position:absolute;
    top:80px;
    left:10px;
    cursor:pointer;
    z-index:9;
    opacity:0.4;
}
#toright {
    display:none;
    width:30px;
    height:100px;
    font-size:40px;
    line-height:100px;
    text-align:center;
    color:#f4f4f4;
    background:#cccccc;
    position:absolute;
    top:80px;
    right:10px;
    cursor:pointer;
    z-index:9;
    opacity:0.4;
}
.lunbo .aa{
    width: 100%;
    display: inline-block;
    height: 205px;
    position: absolute;
}
.lunbo .aa img{
    width: 100%;
    height: 205px;
}

.play_r{
    width: 1206px;
    height: 205px;
    margin: auto;
    position: relative;
}
.play_r .tabs{
    width: 415px;
    float: right;
    background-color: rgba(255,255,255,0.5);
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    position: absolute;
    top: -205px;
    right: 0;
}
.play_r .tabs .tab{
    width: 100%;
    border-bottom: 1px solid #ddd;
    height: 40px;
}
.play_r .tabs .tab li{
    overflow: hidden;
    padding: 0 10px;
    height: 40px;
    cursor: pointer;
    line-height: 40px;
    width: 43%;
    text-align: center;
    color: #000;
    font-weight: 600;
}
.play_r .tabs .tab li.active{
    color: #29759B;
    font-weight: 600;
    font-size: 16px;
}
.play_r .tabs .products{
    width: 318px;
    height: 163px;
    /*position: absolute;
    top: 40px;
    background: #fff;*/
}
.play_r .tabs .products .main{
    display: none;
}
.play_r .tabs .products .selected{
    display: block;
}
.play_r .tabs .products .list{
    padding-left: 10px;
    position: relative;
    float: left;
    overflow: hidden;
    margin-top: -1px;
    padding: 0 6px;
    padding-top: 5px;
    background: url(../../images/drivers/hot_title_bg.gif) 10px 13px no-repeat;
}
.play_r .tabs .products .list ol li{
    padding: 7px 0;
    font-size: 9pt;
    line-height: 17px;
}
.play_r .tabs .products .list ol li a{
    float: right;
    overflow: hidden;
    /*width: 258px;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 17px;
    font-size: 13px;
    padding-left: 30px;
    color: #000;
}

/*课程导航部分------------------------*/
.course_nav{

}

/*厂商专区 部分-----------------------*/
.vendor_area{
    padding: 10px;
}
.vendor_area h3{
    font-weight: 600;
    padding-left: 10px;
}
.vendor_area ul li{
    width: 18%;
    padding: 10px;
}
.vendor_area ul li img{
    width: 460px;
    box-shadow: -5px 5px 5px #eee;
}


.txt1 a{
    overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp:1;
        -webkit-box-orient: vertical;
}
/*课程内容部分-----------------------*/
.course_content{

}
.titles{
    /*display: inline-block;*/
    font-size: 20px;
    font-weight: 600;
    padding: 0 5px 10px;
    /*margin-bottom: 15px;*/
    /*border-bottom: 2px solid #bcbccc;*/
    color: #333;
    position: relative;
}
.titles a.more{
    font-size: 13px;
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 5px;
    font-weight: 600;
}
.titles span{
    display: inline-block;
    padding: 0 10px;
    /*border-left: 4px solid #0b68a9;*/
}
.titles i{
    display: inline-block;
    font-weight: 600;
    color: #0b68a9;
}

.conts{
    margin-top: 15px;
}

/*马上要开始的课程*/
.course_content .newest_curriculum {
    width: 1205px;
    margin: 0 auto;
}
.course_content .newest_curriculum .nc_l{
    width: 190px;
    height: 305px;
    border: 1px solid #cdcdcd;
}
.course_content .newest_curriculum .zxkc h1{
    font-size: 30px;
    color: #fff;
}
.course_content .newest_curriculum .zxkc h1.ha{
    margin-left: 40px;
    margin-top: 50px;
}
.course_content .newest_curriculum .zxkc h1.hb{
    text-align: center;
    font-size: 40px;
}
.course_content .newest_curriculum .zxkc h1.hc{
    margin-left: 100px;
}
.course_content .newest_curriculum .nc_l h3{
    text-align: center;
    font-size: 30px;
    color: #ba60f3;
}
.course_content .newest_curriculum .nc_r{
    /*width: 858px;*/
    height: auto;
} 
.course_content .newest_curriculum .nc_r dl{
    float: left;
    margin: 0 34px 30px 0;
    width: 275px;
    height: auto;
    /*background: #FFF;*/
    overflow: hidden;
    /*box-shadow:5px 6px 6px #cdcdcd;*/
    padding-bottom: 10px;
}
.course_content .newest_curriculum .nc_r dl:nth-child(4),.course_content .newest_curriculum .nc_r dl:nth-child(8),.course_content .newest_curriculum .nc_r dl:nth-child(12){
    margin-right: 0;
}
.course_content .newest_curriculum .nc_r dl dt{
    height: 150px;
}
.course_content .newest_curriculum .nc_r dl dt:hover img{
    transform: scale(1.05, 1.05);
}
.course_content .newest_curriculum .nc_r dl dt img{
    width: 100%;
    height: 100%;
    transition: all 0.4s; 
}
.course_content .newest_curriculum .nc_r dl p{
    padding-left: 5px;
    margin: 10px 0 5px;
    /*text-align: center;*/
    font-size: 14px;
    /*overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/
    font-weight: 600;
    height: 20px;
}
.userNum i{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../../images/drivers/user.png) no-repeat 5px 10px;
}
.userNum span{
    font-size: 13px;
    line-height: 28px;
    font-weight: 600;
}
.userNum span span{
    font-size: 12px;
    font-weight: 400;
}
.userNum small{
    color: red;
    font-size: 14px;
}
.small{
    display: none;
}
.sc span{
    font-size: 12px;
}
.sc{
    padding: 0 5px;
}
.sc i{
    display: inline-block;
    width: 2px;
    height: 13px;
    background-color: #cdcdcd;
    margin: 0 2px;
    position: relative;
    top: 2px;
}
.zy{
    height: 35px;
    font-size: 12px;
    padding:0 5px 5px;
    line-height: 20px;
}
.zy span{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

del{
    font-size: 13px;
    color: #666;
}
del.del{
    display: none;
}

/*课程专题-------------------------------------------*/
/*.course_content .course_topics{
    margin: 50px 0;
}*/
.course_content .course_topics .ct_l{
    width: 206px;
    height: 172px;
    border: 1px solid #cdcdcd;
    background: -webkit-linear-gradient(top,#368196,#0089ff,#7bd2ef);
    border-radius: 8px;
}
.course_content .course_topics .ct_l h3{
    font-size: 25px;
    color: #fff;
    margin-left: 50px;
    margin-top: 20px;
}
.course_content .course_topics .ct_r dl{
    float: left;
    margin: 0 0 0 14px;
    background: #FFF;
    height: 172px;
    width: 209px;
    overflow: hidden;
    background: url(../../images/drivers/0.jpg);
    border-radius: 8px;
}
.course_content .course_topics .ct_r dl dt .ct_r_tit{
    top: 0;
    color: #FFF;
    font-size: 16px;
    height: 70px;
    width: 209px;
    text-align: center;
}
.course_content .course_topics .ct_r dl dt .ct_r_tit div{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 120px;
    width: 209px;
    line-height: 20px;
    padding: 0 10px;
}
.course_content .course_topics .ct_r dl dd{
    padding: 48px 10px 0;
    line-height: 20px;
    font-size: 12px;
    z-index: 10;
}
.course_content .course_topics .ct_r dl dd a{
    color: #fff;
    line-height: 25px;
}
.course_content .course_topics .ct_r dl img{
    width: 209px;
    height: 174px;
}

/*明星讲师-------------------------------------------------*/
.lecturer1 .ct_r ul li{
    float: left;
    margin: 0 0 0 14px;
    width: 190px;
    height: 300px;
    background: -webkit-linear-gradient(top,white,lightblue,skyblue);
    overflow: hidden;
    box-shadow: -5px 5px 5px #cdcdcd;
    border-radius: 10px;
}
.lecturer1 .ct_r ul li .lecturer_head{
    padding: 25px 0 15px;
    text-align: center;
}
.lecturer1 .ct_r ul li .lecturer_head img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    transition: all 0.4s;  
}
.lecturer1 .ct_r ul li .lecturer_head:hover img{
    transform: scale(1.05, 1.05);
}
.lecturer1 .ct_r ul li .lecturer_name{
    text-align: center;
}
.lecturer1 .ct_r ul li .lecturer_album{
    text-align: center;
    margin: 10px 0 0;
}
.lecturer1 .ct_r ul li p{
    text-align: left;
    padding: 15px 20px 0;
    line-height: 24px;
    color: #666;
    font-size: 13px;
}


.course_show{
    padding-bottom: 15px;
}
.course_show ul li{
    width: 27.5%;
    height: auto;
    margin: 10px 30px;
    box-shadow: 0px 0px 10px 5px #eee;
}
.course_show ul li .bg{
    width: 100%;
    height: 120px;
    background-color: blue;
    opacity: .3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: -1;
}
.course_show ul li .bg h3{
    color: #fff;
    font-size: 25px;
    line-height: 120px;
    padding-left: 30px;
}
.course_show ul li .bg_txt{
    height: 170px;
    padding: 20px 30px;
    font-size: 16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.course_show ul li .bg_txt p{
    line-height: 30px;
}
.course_show ul li .bg_txt .btn{
    text-align: center;
}
.course_show ul li .bg_txt button{
    width: 120px;
    padding: 10px 0;
    text-align: center;
    background-color: #02b3e4;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin-top: 15px;
}

.ft_banner{
    width: 100%;
    height: 120px;
    background: rgba(0,0,0,0.4);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}
.ft_banner_con .img{
    width: 728px;
    height: 90px;
    margin: 15px auto;
}
.ft_banner img{
    width: 100%;
    height: 100%;
}
.ft_banner_con{
    position: relative;
}
.ft_banner span{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 300px;
    top: 0;
    font-size: 20px;
    color:#333;
    text-align: center;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
}


.timespan{
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-left: 10px;
}

.live .xth ul li{
    width: 17%;
    padding: 10px 10px 10px 0;
    height: 130px;
    margin-right: 31px;
    border-radius: 3px;
}
.live .xth ul li:last-child{
    margin-right: 0;
}

.live .xth ul li{
    position: relative;
}
.live .xth ul li img{
    width: 221px;
    height: 150px;
}


/*.live .xth ul li.xth_list{
    background: url(../../images/drivers/small.png) no-repeat;
    background-size: 100% 100%;
}
.live .xth ul li.xth_list1{
    background: url(../../images/drivers/small1.png) no-repeat;
    background-size: 100% 100%;
}
.live .xth ul li.xth_list2{
    background: url(../../images/drivers/small3.png) no-repeat;
    background-size: 100% 100%;
}
.live .xth ul li.xth_list3{
    background: url(../../images/drivers/small2.png) no-repeat;
    background-size: 100% 100%;
}
.live .xth ul li.xth_list4{
    background: url(../../images/drivers/small4.png) no-repeat;
    background-size: 100% 100%;
}*/

.live .xth ul li p{
    text-align: center;
    color: #fff;
}
.live .xth ul li p.p1{
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    top: 50px;
    left: 29%;
    margin-right: 25px;
}
.live .xth ul li p.p2{
    font-weight: 400;
    font-size: 17px;
    position: absolute;
    top: 90px;
    left: 37%;
}

.live .live_con,.live .xth{
    padding: 15px 0;
    /*background-color: red;*/
    margin: 10px 0;
    color: #333;
}
.live .live_con h3,.live .xth h3{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
}
.live .live_con ul li{
    width: 32%;
    padding: 5px;
    margin: 10px 8px 10px 0;
}
.live .live_con ul li:nth-child(3n){
    margin-right: 0;
}
.live .live_con ul li:hover{
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    border-radius: 2px;
    background-color: #fff;
}
.live .live_con ul li .hd_img{
    width: 25%;

}
.live .live_con ul li .hd_img img{
    width: 100%;
    height: 100%;
}
.live .live_con ul li .lists{
    width: 72%;
    padding-left: 10px;
}
.live .live_con ul li .lists1{
    margin-top: 5px;
}
.live .live_con ul li .lists1 span{
    font-size: 16px;
}
.live .live_con ul li .lists1 span.lists1_sp{
    color: rgb(47, 115, 163);
}
.live .live_con ul li .lists2{
    font-size: 17px;
    line-height: 42px;
}

.r_fixed{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 270px;
    height: 230px;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #cdcdcd;  
}
.r_fixed .r_fixed_hd{
    background-color: #F2F2F2;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 13px;
}
.r_fixed .r_fixed_hd #close1{
    font-size: 22px;
    line-height: 15px;
    color: #999;
}
.r_fixed .r_fixed_con{
    padding: 10px;
}
.r_fixed .r_fixed_con .r_fixed_con_tit a{
    font-size: 13px;
    font-weight: 600;
    color: #369;
}
.r_fixed .r_fixed_con .r_fixed_con_tit a:hover{
    text-decoration: underline;
}
.r_fixed .r_fixed_con .r_fixed_con_img{
    height: 125px;
    border-bottom: 1px dashed #ededed;
    font-size: 12px;
}
.r_fixed .r_fixed_con .r_fixed_con_img img{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-top: 15px;
    border-radius: 5px;
    margin-right: 10px;
}
.r_fixed .r_fixed_con .r_fixed_con_img p{
    width: 180px;
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
}
.r_fixed .r_fixed_con .r_fixed_con_img span{
    margin-top: 5px;
    display: block;
    line-height: 20px;
}
.r_fixed .r_fixed_con .ck{
    float: right;
}
.r_fixed .r_fixed_con .ck a{
    font-size: 12px;
    line-height: 35px;
    color: #369;
}