body{
	font-size: 14px;
}
.bg_fff{
    background-color: #fff;
}

/*内容部分----------------------*/
.content{
    height: auto;
}
.content .content_tow .content_tow_con{
    padding-left: 16px;
}
.content .content_tow .content_tow_con img{
    width: 1068px;
    height: 90px;
}

.log{
    margin: 10px 0;
}
.log .focus-title{
    border-left: 3px solid #29759B;
}
.log .focus-title ul li{
    margin: 2px 0;
}
.log .focus-title a{
    color: #29759B;
    margin-left: 10px;
}
.log .banner11{
    display: inline-block;
    width: 1100px;
    height: 90px;
}
.log .banner11 img{
    width: 100%;
    height: 100%;
}

.new_hd ul li{
    margin: 3px 0;
}

.whole{
    height: auto;
    padding: 20px 0;
    overflow: hidden;
    border-bottom: 1px solid #eaeaea;
}
.whole ul li{
    width:98px;
    text-align: center;
    margin: 2px 0;
}
.whole ul li a{
    color: #000;
}
.whole ul .current{
    background-color: #eaf5ff;
    border-radius: 25px;
}
.whole ul .current a{
    color: #444854;
}
.whole ul li:hover{
    background-color: #eaf5ff;
    border-radius: 25px;
}
.whole ul li:hover a{
    color: #444854;
}
.whole ul li a{
    line-height: 40px;
}
.whole .sub_ul{
    width: 300px;
    background-color: #29759B;
    position: absolute;
    top: 40px;
    left: -15px;
    display: none;
    padding: 10px;
    z-index: 999;
}
.whole li.current:hover .sub_ul{
    display: block;
}
.whole .sub_ul li{
    width: 100px;
}
.whole .sub_ul li:hover{
    background-color: #eee;
    border-radius: 3px;
}
.whole .sub_ul li:hover a{
    color: #666;
}

.content .content_min{
    padding: 0 1pc;
    width: 801pt;
    padding-top: 5px;
}
.content .content_min .cm_four{
    clear: both;
}
.content .content_min .cm_four .cm_four_l{
    width: 728px;
    padding-bottom: 20px;
}

.lists li{
    border: 0 !important;
}
.content .content_min .cm_four .cm_four_l ul li{
    padding: 13px 0 15px;
    width: 728px;
    height: auto;
    border-bottom: 1px dotted #d6d6d6;
}
.content .content_min .cm_four .cm_four_l ul li .block .img{
    overflow: hidden;
}
.content .content_min .cm_four .cm_four_l ul li .block .img img{
    float: left;
    width: 150px;
    height: 120px;
    margin-right: 15px;
    border-radius: 10px;
}
.content .content_min .cm_four .cm_four_l ul li .block{
    /*float: left;*/
    padding: 10px;
    font-size: 13px;
}
.content .content_min .cm_four .cm_four_l ul li .block .time{
    color: #666;
    font-weight: 400;
    font-size: 12px;
    margin-top: 3px;
}
.content .content_min .cm_four .cm_four_l ul li .block .date .lb{
    color: #666; 
    margin-right: 20px;
}
.content .content_min .cm_four .cm_four_l ul li .block .date .lb a{
    color: #29759B;
    font-weight: 600;
}
.content .content_min .cm_four .cm_four_l ul li .block .date .time{
    color: rgb(205, 36, 56);
    font-weight: 400;
    font-size: 13px;
    margin-top: 2px;
}
.content .content_min .cm_four .cm_four_l ul li .date{
    height: auto;
    margin-top: 8px;
}
.content .content_min .cm_four .cm_four_l ul li span.rt{
    font-size: 13px;
    font-weight: 600;
}
.content .content_min .cm_four .cm_four_l ul li .ydl{
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 20px;
    font-size: 12px;
    color: #999;
    position: relative;
}
.content .content_min .cm_four .cm_four_l ul li .ydl .num{
    padding-left: 20px;
    background: url(../../../statics/images/drivers/leftinfoimg.png) 0 -16px no-repeat;
}
.content .content_min .cm_four .cm_four_l ul li .block h2{
    padding-bottom: 9pt;
    font-size: 16px;
    position: relative;
    font-weight: 600;
}
.content .content_min .cm_four .cm_four_l ul li .block h2 a{
    color: #333;
}
.content .content_min .cm_four .cm_four_l ul li .block h2 .state{
    float: right;
    color: #888;    
    font-size: 9pt;
}
.content .content_min .cm_four .cm_four_l ul li .block h2 .tody{
    color: #29759B;
}
.content .content_min .cm_four .cm_four_l ul li .block .time{
    height: 16px;
    line-height: 16px;
    padding-left: 5px;
    color: #0f75bd;
}
.content .time_img img{
    width: 16px;
    height: 16px;
    margin-top: 2px;
}
.content .content_min .cm_four .cm_four_l ul li .block .txt{
    display: block;
    overflow: hidden;
    color: #333;
    font-size: 13.5px;
    line-height: 27px;
}
.content .content_min .cm_four .cm_four_l ul li .block .tags,.content .content_min .cm_four .cm_four_l ul li .block .tags a{
    color: #666;
}
.page_nav{
    position: relative;
    clear: both;
    height: 130px
}
.page_nav .more
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
.page_nav .more span{
    display: inline-block;
    padding: 5px 15px;  
    background-color: #29759B;
    color: #fff;
    text-align: center;
}
.page_nav .more a{
    display: inline-block;
    margin: 5px 5px;
    border: 1px solid #eaeaea;
    padding: 5px 15px;
}