span.v{
    display: inline-block;
    overflow: hidden;
    margin: 0 7px 0 8px;
    width: 2px;
    height: 13px;
    color: #d5d5d5;
    vertical-align: -2px;
    text-indent: -75pt;
}
.ft_nav a{
    display: inline-block;
    font-size: 12px;
    line-height: 43px;
}
.ft_nav{
    text-align: center;
}