body{
    background-color: #fff;
}
.hd_course{
    height: 70px;
    padding: 10px 0 20px;
}
.hd_c_lg {
    width: 500px;
    margin-top: 5px;
    margin-left: 20px;
}
.hd_c_lg .GoogleActiveViewClass a img{
    width: 500px;
    height: 60px;
}

.hd_course .hd_c_list .search1{
    margin-top: 35px;
    /*margin-right: 15px;*/
}
.hd_course .hd_c_list .search1 .inp1{
    width: 220px;
    padding: 8px 10px;
    font-size: 12px;
    position: relative;
    left: 5px;
}
.hd_course .hd_c_list .search1 .inp2{
    border: none;
    background-color;
    padding: 10px;
    font-size: 12px;
    z-index: 999;
    color: #fff;
    background-color: #0b68a9;
    position: relative;
    /*left: -10px;*/
}
.hd_course .hd_c_list ul li{
    font-size: 12px;
    margin: 5px;
}
.hd_course .hd_c_list ul li i{
    display: inline-block;
    margin: 0 0 0 8px;
    width: 2px;
    height: 14px;
    background-color: #efefef;
    position: relative;
    top: 2px;
}

.hd_course .hd_c_lg .lg{
    display: inline-block;
    padding: 5px 10px;
    background-color: #0b68a9;
    color: #fff;
    border-radius: 5px;
    font-size: 13px;
    margin-top: 20px;
    margin-left: 30px;
}
.nav_course{
    position: relative;
}
#nav_course{
    margin: 0 auto;
    height: 100px;
    line-height: 50px;
    background-color: #0b68a9;
}
#nav_course ul li{
    width: 100%;
    height: 50px;
    /*border-bottom: 2px solid #fff;*/
    /*line-height: 30px;*/

}
#nav_course ul li a{
    padding: 0 10px;
}
.nav_course{
    position: relative;
}
.nav_course .xl{
    width: 200px;
    height: 425px;
     background-color:rgba(0,0,0,0.6);
    display: none;
    position: absolute;
    left: 70px;
    top: 50px;
    z-index: 99999;
}
.navs1{
    width: 164px;
    background: #0b68a9;
    color: #fff;
}
.navs2 a{
    color: #fff;
}
.navs2{
    padding: 0 18px;
    font-weight: 600;
    font-size: 15px;
    
}
.navs1 .xl li:hover{
    background-color: #efefef;
}
.navs1 .xl li:hover a{
    color: #000 !important;
}
.navs1:hover .xl{
    display: block;
}
.navs1:hover .nav_class i{
    background: url(../../images/drivers/sjs2.png) no-repeat;
    -webkit-background-size: 100% 100%;
}
/*.nav_more a{
    border-bottom: 2px solid #0b68a9 !important;
}*/
.nav_class i{
    display: inline-block;
    margin-left: 10px;
    width: 15px;
    height: 8px;
    background: url(../../images/drivers/sjs4.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

#nav_course ul li a{
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}



.hd_c_lg img{
    width: 690px !important;
    height: 70px;
}

.ewms{
    margin-right: 15px;
    height: 50px;
    display: inline-block;
    color: #fff;
}
.home1 a{
    color: #fff;
}
.ewms:hover .cxdjt{
    display: block;
}
.ewms .cxdjt{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50px;
    right: 77px;
    z-index: 999;
    display: none;
}
.gzh{
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
    right: 3px;
}

.nav2s{
    background: #fff;
    /*border-bottom: 1px solid #ddd;*/
    box-shadow:0px 15px 10px -15px #ddd;
}
.nav2{
    /*padding: 10px 0;*/
    background: #fff;
    z-index: 999;
}
.nav2 .nav2_con{
    padding: 0 15px;
}
.nav2 .nav2_con a,.nav2 .nav2_con span{
    display: inline-block;
    padding: 0 5px;
    color: #0b68a9;
}