body{
    font-size: 14px;
}
.mb10{
    margin-bottom: 10px;
}
.fs12{
    font-size: 12px;
}
.tar{
    text-align: right;
    padding-right: 15px;
}
.tar a{
    color: #333;
}
.dib{
    display: inline-block;
}
.bgc_fff{
    background-color: #fff;
}
/*#iframe{
    position: relative; 
    z-index: 1;
}*/
#box1{
    width: 300px;
    height: 222px;
    position: relative;
}
#box_img{
    width: 300px;
    height: 222px;
    overflow: hidden;
}
#sub_img{
    width: 2000px;
    height: 222px;
}
#sub_img li,#sub_img li a img{
    width: 300px;
    height:222px;
}
#uls{
    position: absolute;
    left: 50%;
    bottom:10px;
    margin-left: -55px;
}
#uls li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    line-height:15px;
    margin-left: 10px;
    background-color: #eee;
    color: #000;
    font-size: 12px;
    cursor: pointer;
}
.sp{
    background-color: #000;
    opacity: .5;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 20px;
    height: 30px;
    text-align: center;
    line-height:30px;
    font-size: 20px;
    cursor: pointer;
}
#uls .select{
    background-color: #0b68a9;
    color: #fff;
}
#shang{
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 6px;
}
#xia{
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 6px;
}

.information{
    height: 222px;
}
.information a:hover{
    color: #0b68a9;
}
.informationLeft{
    width: 300px;
    background-color: darkcyan;
}
.informationRight{
    padding: 0 22px;
    width: 740px;
}
.informationRight .informationRightL{
    margin-top: 15px;
    width: 500px;
}
.informationRight .informationRightL .focus-title,.informationRight .informationRightR .focus-title{
    height: 20px;
    border-left: 4px solid #0b68a9;
    padding-left: 9pt;
    color: #0b68a9;
    font-size: 1pc;
    line-height: 20px;
}
.informationRight ul{
    padding-top: 15px;
}
.informationRight .informationRightL ul li{
    overflow: hidden;
    margin-bottom: 20px;
    width: 474px;
    height: 62px;
}
.informationRight .informationRightL ul li img{
    float: left;
    width: 5pc;
    height: 60px;
    margin-top: 5px;
}
.informationRight .informationRightL ul li h2{
    overflow: hidden;
    padding: 0 0 5px 18px;
    width: 358px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}
.informationRight .informationRightL ul li h2 a{
    font-weight: 600;
    font-size: 13px;
}
.informationRight .informationRightL ul li p{
    padding-left: 98px;
    color: #888;
    font-size: 12px;
}

.informationRight .informationRightR{
    width: 240px;
    margin-top: 15px;
}
.informationRight .informationRightR ul li{
    height: 15px;
    line-height: 15px;
    margin-bottom: 17px;
    padding-left: 15px;
    background: url(../../../statics/images/drivers/icon.png) no-repeat -2px -666px;
    font-size: 13px;
}
.informationRight .informationRightR ul li a{
    cursor: pointer;
    padding: 0;
}

/*资讯*/
.zxLeft_con ul li a, .zxRight_conc .ul2 li a{
    font-size: 14px !important;
}
.zixun .zixunConLeft,.Manufacturer .manuConLeft{
    width: 735px;
    padding: 12px 14px;
}
.zixun .zixunConLeft .zxLeft_title,.zixun .zixunConRight .zxRight_title{
    border-bottom: #dcdbdb 1px solid;
    height: 36px;
    line-height: 36px;
    padding-right: 3px;
}
.zixun .zixunConLeft .zxLeft_title ul li{
    /*float: right;*/
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    padding-right: 15px;
}
.zixun .zixunConLeft .zxLeft_title ul li span{
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    line-height: 26px;
}
.zixun .zixunConLeft .zxLeft_title ul li span a{
    color: #0b68a9;
}
.zixun .zixunConLeft .zxLeft_title ul li a{
    display: inline-block;
    color: #666;
    font-weight: bold;
}

.zixun .zxLeft_con{
    padding: 10px 0;
    height: auto;
}
.zxLeft_con ul{
    float: left;
    width: 370px;
    height: auto;
}
.zxLeft_con ul li{
    height: 30px;
    width: 353px;
    overflow: hidden;
    line-height: 30px;
    padding: 1px 1px 1px 16px;
    background: url(../../../statics/images/drivers/icon.png) no-repeat -2px -658px;
}
.zxLeft_con ul li a{
    color: #0b68a9;
}
.zxLeft_con ul li .lis:hover{
    width: 280px;
    height: 32px;
    background-color: #eee;
}
.zxLeft_con ul li .tit{
    display: block;
    width: 275px;
    overflow: hidden;
    float: left;
}
.zxLeft_con ul li .t{
    float: right;
    color: #666;
    padding-right: 15px;
    width: 38px;
    font-size: 12px;
}
.zixunConRight,.Manufacturer .manuConRight{
    width: 314px;
    float: right;
    padding: 12px 6px 6px 6px;
    border-left: #eee 2px solid;
}
.zixunConRight .zxRight_title{
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    position: relative;
}
.zixunConRight .zxRight_title span{
    display: block;
    font-size: 14px;
    margin-top: -5px;
    color: #0b68a9;
}
.zxRight_con{
    padding:0 22px 11px 4px;
}
.zxRight_con ul li{
    height: 110px;
}
.zxRight_con .left_img{
    padding: 14px 5px 5px 0;
    width: 112px;
    height: 80px;
}
.zxRight_con .left_img img{
    width: 100%;
    height: 100%;
    margin-left: 20px;
}
.zxRight_con .right_txt{
    width: 155px;
    height: 100px;
    color: #9c9c9c;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
     white-space: normal;
     -webkit-box-orient: vertical;
    overflow: hidden;
    margin-left: 15px;
}
.zxRight_con .right_txt span{
    display: inline-block;
    width: 100%;
    color: #C00;
    overflow: hidden;
    margin-top: 11px;
    margin-bottom: 5px;
    max-height: 40px;
    font-size: 12px;
    font-weight: bold;
}
.zxRight_con .right_txt span a{
    font-size: 12px;
    font-weight: 600;
}
.zxRight_con .right_txt a{
    color: #474747;
    font-size: 12px;
    display: inline-block;
}
.zxRight_conc{
    height: auto!important;
    min-height: 50px;
    padding: 10px 8px 13px 10px;
    font-size: 12px;
}  
.zxRight_conc .ul1 li{
    border-bottom: #CCC 1px dotted;
}
.zxRight_conc .ul1 li img{
    width: 100px;
    height: 72px;
}
.zxRight_conc ul li .lImg{
    padding: 14px 5px 5px 0;
}
.zxRight_conc ul li .rTxt{
    width: 175px;
    height: 90px;
    color: #9c9c9c;
    float: right;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    white-space: normal;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: -3px;
    margin-left: 12px;
}
.zxRight_conc ul li .rTxt span{
    display: inline-block;
    width: 100%;
    color: #C00;
    overflow: hidden;
    margin-top: 14px;
    margin-bottom: -2px;
    max-height: 40px;
    overflow: hidden;
}
.zxRight_conc ul li .rTxt span a{
    font-weight: bold;
}
.zxRight_conc .ul2{
    margin-top: 15px;
}
.zxRight_conc .ul2 li{
    width: 290px;
    line-height: 25px;
}
.zxRight_conc .ul2 li {
    height: auto;
    padding: 10px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #eee; 
}
.zxRight_conc .ul2 li .ls{
    padding-left: 15px;
}
.zxRight_conc .ul2 li a{
    font-size: 14px;
}

.banner{
    margin-bottom: 20px;
}
.banner img{
    width: 100%;
    height: 80px;
}

.curriculum ul li{
    width: 25%;
    float: left;
    border: 1px solid #eee;
    border-left: none;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
}
.curriculum ul li .imgs{
    width: 230px;
    height: 155px;
    position: relative;
}
.curriculum ul li img{
    width: 100%;
    height: 100%;
}
.curriculum ul li .text{
    width: 100%;
    height: 63px;
    overflow: hidden;
    padding-top: 10px;
    line-height: 22px;
    border-bottom: #fff 1px solid;
    cursor: pointer;
}

.article .centerCon_txt{
    width: 230px;
}
.manuConRightB ol li cite{
    font-size: 12px;
    float: right;
    color: #999;
    text-align: right;
}
.curriculumCon .title2{
    padding: 10px 15px;
    height: auto;
    overflow: hidden;
}
.curriculumCon .title2 a{
    line-height: 25px;
}
.curriculumCon .title2 .a1{
    font-size: 18px;
    color: #0b68a9;
    font-weight: bold;
}
.Manufacturer .manuConLeft .xNo .centerCon{
    border-bottom: none;
}

.forum .zixunConRight ul li .more{
    position: absolute;
    right: 0;
    top: -5px;
    margin-right: 5px;
    font-size: 12px;
}

.Manufacturer .title1{
    border-bottom: #dcdbdb 1px solid;
    height: 33px;
    line-height: 24px;
    padding-left: 8px;
}
.Manufacturer .manuConLeft .title1 a{
    font-size: 18px;
    color: #0b68a9;
    font-weight: bold;
}
.Manufacturer .manuConLeft .manuConLeftL .title1{
    width: 377px;
}
.Manufacturer .manuConLeft .manuConLeftR .title1 a{
    font-size: 12px;
    color: #666;
}
.Manufacturer .manuConLeft ul li{
    overflow: hidden;
}
.Manufacturer .manuConLeft .centerCon{
    height: 60px;
    font-size: 12px;
    overflow: hidden;
    padding: 20px 10px 20px 0;
    border-bottom: #999 1px dotted;
}
.Manufacturer .manuConLeft .centerCon .centerCon_img{
    width: 97px;
    text-align: center;
}
.Manufacturer .manuConLeft .centerCon .centerCon_txt h3{
    font-weight: bold;
    line-height: 18px;
    padding-bottom: 5px;
}
.Manufacturer .manuConLeft .bottomCon{
    font-size: 12px;
    height: auto;
    padding: 10px 0 5px 10px;
}
.Manufacturer .manuConLeft .zxLeft_con{
    font-size: 14px;
}
.Manufacturer .manuConLeft .zxLeft_con ul{
    margin-left: -10px;
}
.zixunConRight .manuConRight .title1 a{
    font-weight: bold;
    color: #0b68a9;
}
.zixunConRight .manuConRight .manuConRightT,.Manufacturer .manuConRight .manuConRightT{
    position: relative;
}
.article .manuConRight .manuConRightT .title1 a,.Manufacturer .manuConRight .manuConRightT .title1 a{
    color: #0b68a9;
    font-weight: bold;
}
.article .manuConRight .more,.Manufacturer .manuConRight .more{
    position: relative;
}
.article .manuConRight .more a,.Manufacturer .manuConRight .more a{
    position: absolute;
    right: 0;
    top: -32px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}
.zixunConRight .manuConRight .manuConRightB ul li{
    width: 30%;
    margin: 5px;
    margin-top: 10px;
}
.zixunConRight .manuConRight .manuConRightB ul li img{
    width: 75px;
    height: 75px;
    margin-left: 10px;
    border-radius: 50%;
}
.zixunConRight .manuConRight .manuConRightB ul li p{
    text-align: center;
}



.footer{
    height: auto;
}
.footer .footerTop{
    padding: 6px 6px 0 13px;
}
.footer .footerTop .ft_txt{
    height: 33px;
    line-height: 33px;
    padding-right: 3px;
}
.footer .footerTop .ft_txt ul li{
    font-size: 12px;
    height: 33px;
    line-height: 33px;
    cursor: pointer;
    padding-right: 1px;
    padding-left: 2px;
}
.footer .footerTop .ft_txt ul .links span{
    color: #0b68a9;
    font-weight: bold;
}
.footer .footerBottom{
    margin-left: 15px;
}
.footer .footerBottom ul{
    margin-bottom: 10px;
}
.footer .footerBottom ul li{
    width: 120px;
    line-height: 30px;
    height: 30px;
    font-size: 12px;
}
.footer .footerBottom ul li a{
    text-align: center;
}
.ftNav{
    margin-bottom: 15px;
}
.ftNav,.copy{
    padding: 5px 0;
    text-align: center;
}
.ftNav .links a{
    display: inline-block;
    margin-top: 15px;
    font-size: 12px;
    text-decoration: none;
}
.ftNav .sj{
    color: red;
    margin-top: 10px;
}
.copy{
    margin: 10px 0;
}
.copy .copyTxt{
    padding-bottom: 10px;
    text-align: center;
    font-size: 12px;
}