.list_course{

}
.list_course .lcL{
    width: 15%;
    height: auto;
    background-color: #fff;
    margin-top: 10px;
}
.list_course .lcL dl{
    padding: 0 20px 10px;
    text-align: left;
    font-size: 16px;
}
.list_course .lcL dl .lcL_all{
    /*font-weight: bold;*/
    height: 40px;
    line-height: 50px;
    overflow: hidden;
    /*margin: 0 0 10px 0;*/
    text-align: center;
}
.list_course .lcL dl dd{
    padding: 16px 0;
    border-bottom: 1px solid #eceff5;
    text-align: center;
}
.list_course .lcL dl dd.icon{
    background: url(../../images/drivers/train_channelarrow.png) 200px 23px no-repeat;
}
.list_course .lcR{
    width: 82%;
    height: auto;
    /*border-left: 1px solid #cdcdcd;*/
    text-align: left;
    padding: 0 0 30px 25px;
    margin-top: 5px;
}
.search1{
    /*border-top: 1px solid #eceff5;
    border-bottom: 1px solid #eceff5;
    background: #f9f9f9;*/
    height: 35px;
    line-height: 35px;
    margin-top: 20px;
}
input{
    font: normal 14px "Microsoft yahei";
}
.search1 .inp{
    border: 1px solid #CCC;
    font-size: 12px;
    padding: 5px 5px;
    margin: 3px 0 0 10px;
}
.search1 .sub{
    border: 1px solid #CCC;
    font-size: 12px;
    background: #f4f4f4;
    padding: 5px 10px;
    cursor: pointer;
}
.search1 span{
    color: #0b68a9;
    padding: 0 0 0 10px;
    font-size: 12px;
}
.search1 span a{
    padding: 0 2px;
    color: #0b68a9 ;
}
.list_course .lcR .course_list .course_list_name{
    margin: 0 0 20px;
}
.list_course .lcR .course_list .course_list_name h3 span a{
    color: #0b68a9;
    font-size: 14px;
}
.list_course .lcR .course_list .course_list_name h3 .name{
    color: #333;
    font-size: 17px;
    font-weight: 600;
}
.list_course .lcR .course_list .show_list li{
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 30px;
    padding: 0 0 30px;
}
.list_course .lcR .course_list .show_list li:last-child{
    border-bottom: 0;
    margin-bottom: 0;
}
.list_course .lcR .course_list .show_list li .show_list_img{
    width: 28%;
}
.list_course .lcR .course_list .show_list li .show_list_img img{
    width: 100%;
    height: 145px;
}
.list_course .lcR .course_list .show_list li .show_list_main{
    width: 70%;
}
.list_course .lcR .course_list .show_list li .show_list_main h2{
    font-size: 16px;
    font-weight: bold;
}
.list_course .lcR .course_list .show_list li .show_list_main h6{
    font-size: 12px;
    margin: 15px 0 13px;
}
.list_course .lcR .course_list .show_list li .show_list_main h6 span a{
    margin: 0 5px 0 0;
    /*background: #bbb6b6;*/
    color: #666;
    border: 0;
    border-radius: 5px;
}
.list_course .lcR .course_list .show_list li .show_list_main .desc{
    color: #767676;
    line-height: 24px;
    padding: 0 0 10px;
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
}
.list_course .lcR .course_list .show_list li .show_list_main .time{
    color: #767676;
    font-size: 12px;
    margin-top: 7px;
}
.list_course .lcR .course_list .show_list li .show_list_main .time span{
    padding-right: 20px;
}
.list_course .lcR .course_list .show_list li .show_list_main .time span small{
    color: red;
    font-weight: bold;
    font-size: 14px;
}
.jg{
    font-size: 14px;
    font-weight: 600;
}

.text_c a,.text_c span{
    border: 1px solid #cfcfcf;
    padding: 0 10px;
}
.text_c span{
    font-weight: 600;
}


.divw{
    width: 90px;
    display: inline-block;
}
.aa2,.aa2{
    position: relative;
}
.sjx{
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
}
.sjx_s{
    border-top: 5px solid #a6a7ac; 
}
.sjx_x{
    border-bottom: 5px solid #a6a7ac; 
    position: absolute;
    top: 8px;
    right: 0;
}
.ons{
    border-color: blue;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.jc{
    font-weight: bold;
}