*{
    margin: 0;
    padding: 0;
}
.c_hhh{
    color: #666;
}
.c_fff{
    color: #fff;
}

.log {
    line-height: 24px;
    *line-height: 27px;
    height: 24px;
    float: right;
    font-size: 12px
}

.log span {
    color: #ced9e7
}

.log a {
    color: #049;
    text-decoration: none;
}

.log a:hover {
    text-decoration: underline;
}

.log .snda {
    position: relative;
    bottom: -3px
}

.log .upv_btn {
    height: 24px;
    padding-left: 14px;
    position: relative;
    background: url(../../images/drivers/up_btn.gif) no-repeat 0px 0px;
    margin-left: 0px;
    margin-right: 10px;
    *background-position: 0px 5px;
}

.log .r {
    float: right;
}

.log .w27 {
    *width: 320px;
}
.lr{
    float: right;
}
.login {
    height: 40px;
    position: relative;
}
.login a{
    text-align: right;
}
li{
    list-style: none;
}
li a{
    font-size: 14px;
    padding: 0 10px;
    text-decoration: none;
}
.xlk{
    width: 200px;
    height: auto;
    overflow: hidden;
    background-color: #fff;
    display: none;
    z-index: 99999;
    position: absolute;
    top: 40px;
    right: -1px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #999;
    border-top: 0;
}
.xlk li.h50{
    float: left;
    width: 50%;
    /*height: 15px;*/
    /*margin: 10px 0;*/
}
.xlk li a:hover{
    color: #2975c4;
}
.login:hover{
    background-color: #fff;
    border: 1px solid #999;
    border-bottom: none;
}
.login:hover a{
    color: #666;
}
.login:hover .xlk{
    display: block;
    position: absolute !important;
    z-index: 99 !important;
}
.nav_item:after{
    display: inline-block;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    background: url(../../images/drivers/narrow.png) no-repeat 0 3px;
    background-size: 64px 16px;
    content: '';
}
.login:hover .nav_item:after{
    display: inline-block;
    margin-left: 5px;
    width: 16px;  
    height: 16px;
    background: url(../../images/v9/narrow.png) no-repeat -16px 3px;
    background-size: 64px 16px;
    content: '';
}