.nav_css{
    height: 30px;
    border-bottom: 10px solid #eee;
    line-height: 30px;
    padding: 8px 20px;
    color: #333;
}
.nav_css_no{
    padding: 0;
    border-bottom: 0;
}
.nav_css2{
    margin-top: 7px;
    line-height: 30px;
    padding: 5px 15px;
    background: #fff;
    border-bottom: 10px solid #eaeaea;
    color: #333;
}